<form name="form">
  <modal-template>
    <modal-title>{{ctrl.titleLabel | translate}}</modal-title>

    <modal-body>

      <editable data-title="Namespace label" disable="!ctrl.labelModifiable()" context="ctrl.model">
        <div class="input-group input-group-md">
          <input id="label" type="text" class="form-control" autofocus required string-input="modelLabel" ng-model="ctrl.label" />
        </div>
      </editable>

      <editable data-title="Namespace" disable="!ctrl.namespaceModifiable()" context="ctrl.model">
        <div class="input-group input-group-md">
          <input id="namespace"
                 type="text"
                 class="form-control"
                 required
                 namespace-input
                 active-namespace="ctrl.namespaceToEdit"
                 allow-technical="!ctrl.edit"
                 model="ctrl.model"
                 ng-model="ctrl.namespace" />
        </div>
      </editable>

      <editable data-title="Prefix" disable="!ctrl.prefixModifiable()" context="ctrl.model">
        <div class="input-group input-group-md">
          <input id="prefix"
                 type="text"
                 class="form-control"
                 required
                 prefix-input
                 active-namespace="ctrl.namespaceToEdit"
                 allow-technical="!ctrl.edit"
                 model="ctrl.model"
                 ng-model="ctrl.prefix" />
        </div>
      </editable>

    </modal-body>

    <modal-buttons>
      <error-panel error="ctrl.submitError"></error-panel>

      <button class="btn btn-default cancel" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
      <button class="btn btn-default confirm" type="button" ng-click="ctrl.create()" ng-disabled="!form.$valid">{{ctrl.confirmLabel | translate}}</button>
    </modal-buttons>
  </modal-template>
</form>
