<form name="form">
  <modal-template>
    <modal-title translate>Add require</modal-title>

    <modal-body class="search-modal">

      <editable title="Label">
        <div class="input-group input-group-md">
          <input id="label" type="text" class="form-control" autofocus required ng-model="ctrl.label" />
        </div>
      </editable>

      <editable title="Namespace">
        <div class="input-group input-group-md">
          <input id="namespace" class="form-control" required namespace-input ng-model="ctrl.namespace" />
        </div>
      </editable>

      <editable title="Prefix">
        <div class="input-group input-group-md">
          <input id="prefix" type="text" class="form-control" required ng-model="ctrl.prefix" />
        </div>
      </editable>

    </modal-body>

    <modal-buttons>
      <div class="alert alert-danger" role="alert" ng-show="ctrl.submitError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span translate>Save failed</span>
      </div>

      <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
      <button class="btn btn-default" type="button" ng-click="ctrl.create()" ng-disabled="!form.$valid" translate>Create new</button>
    </modal-buttons>
  </modal-template>
</form>
