<form name="form">
  <modal-template>
    <modal-title translate>Add require</modal-title>

    <modal-body>

      <editable title="Label">
        <div class="input-group input-group-md">
          <input id="label" type="text" class="form-control" autofocus required string-input="label" ng-model="ctrl.label" />
        </div>
      </editable>

      <editable title="Namespace">
        <div class="input-group input-group-md">
          <input id="namespace" type="text" class="form-control" required namespace-input string-input ng-model="ctrl.namespace" />
        </div>
      </editable>

      <editable title="Prefix">
        <div class="input-group input-group-md">
          <input id="prefix" type="text" class="form-control" required string-input ng-model="ctrl.prefix" />
        </div>
      </editable>

    </modal-body>

    <modal-buttons>
      <submit-error-panel error="ctrl.submitError"></submit-error-panel>

      <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
      <button class="btn btn-default" type="button" ng-click="ctrl.create()" ng-disabled="!form.$valid" translate>Create new</button>
    </modal-buttons>
  </modal-template>
</form>
