<modal-template>
  <modal-title>
    <span translate>Browse concepts</span>
  </modal-title>

  <modal-body>

    <div class="row">

      <div class="col-md-4">
        <div class="input-group input-group-lg">
          <input autofocus type="text" class="form-control" placeholder="{{'search concept' | translate}}"
                 ng-model="ctrl.searchText"
                 ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                 key-control="ctrl.searchResults" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>

        <div class="search-filters">
          <span class="title" translate>Filter results</span>

          <div class="form-group">
            <label for="model" translate>Vocabulary</label>
            <div class="input-group input-group-md">
              <div class="selectContainer">
                <select id="vocabulary" class="form-control" ng-model="ctrl.showVocabulary"
                        ng-options="(vocabulary | translateLabel: ctrl.model) for vocabulary in ctrl.vocabularies">
                  <option value="" translate>All vocabularies</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="model" translate>Concept state</label>
            <div class="input-group input-group-md">
              <div class="selectContainer">
                <select id="conceptType" class="form-control" ng-model="ctrl.showConceptType">
                  <option value="" translate>All states</option>
                  <option value="concept" translate>Recommendation</option>
                  <option value="conceptSuggestion" translate>Suggestion</option>
                </select>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="model" translate>Suggested in</label>
            <div class="input-group input-group-md">
              <div class="selectContainer">
                <select id="model" class="form-control" ng-model="ctrl.showModel"
                        ng-options="(model | translateLabel: ctrl.model) for model in ctrl.models">
                  <option value="" translate>All models</option>
                </select>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-md-4 search-results">
        <ajax-loading-indicator ng-if="ctrl.loadingResults"></ajax-loading-indicator>

        <search-results ng-if="!ctrl.loadingResults" items="ctrl.searchResults" selected="ctrl.selection" exclude="ctrl.exclude" on-select="ctrl.selectItem(item)" edit-in-progress="ctrl.editInProgress">
          <h5>{{searchResult | translateLabel: ctrl.model}}</h5>
          <p>{{searchResult.definedBy | translateLabel: ctrl.model}}</p>
          <p ng-init="vocabularyNames = searchResult.getVocabularyNames()">
            <span ng-repeat="vocabularyName in vocabularyNames">{{vocabularyName.getLocalizedName(ctrl.localizer, ctrl.gettextCatalog)}}<span ng-show="!$last">, </span></span>
          </p>
        </search-results>
      </div>

      <div class="col-md-4 search-selection">
        <concept-view concept="ctrl.selection" model="ctrl.model" model-controller="ctrl"></concept-view>
      </div>
    </div>

  </modal-body>

  <modal-buttons>
    <button type="button" class="btn btn-default" ng-click="ctrl.close()" translate>Close</button>
  </modal-buttons>
</modal-template>
