<h4>
  <span translate ng-if="ctrl.concept.isOfType('conceptSuggestion')">Concept suggestion information</span>
  <span translate ng-if="!ctrl.concept.isOfType('conceptSuggestion')">Concept information</span>
</h4>

<div class="row">
  <div class="col-md-12">
    <editable data-title="Concept label" context="ctrl.model">
      <div class="input-group input-group-md">
        <input id="conceptLabel" type="text" class="form-control" localized-input="label" context="ctrl.model" ng-model="ctrl.concept.label" />
      </div>
    </editable>

    <editable data-title="Definition" context="ctrl.model">
      <div class="input-group input-group-md">
        <textarea id="conceptComment" class="form-control" localized-input="required" context="ctrl.model" ng-model="ctrl.concept.comment"></textarea>
      </div>
    </editable>

    <non-editable data-title="Concept id" value="ctrl.concept.id" context="ctrl.context" link="ctrl.concept.href"></non-editable>

    <editable-concept-select concept="ctrl.concept.broaderConcept" data-title="Broader concept" model="ctrl.model" allow-suggestions="false"></editable-concept-select>

    <non-editable-vocabulary ng-if="!ctrl.concept.legacy" vocabularies="ctrl.concept.vocabularies"></non-editable-vocabulary>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h4 translate>Additional information</h4>

    <usage-panel entity="ctrl.concept" context="ctrl.model"></usage-panel>
  </div>
</div>
