<div class="model-header" ng-click="ctrl.visible = !ctrl.visible">
  <h2 accordion-chevron is-open="ctrl.visible" no-pull="true">{{ctrl.model | translateLabel}}</h2>
</div>

<form name="form">
  <div uib-collapse="!ctrl.visible" class="main-editable-content">

    <editable-buttons editable-controller="ctrl">
      <button type="button" class="btn btn-default right" ng-click="ctrl.addRequire()" ng-show="ctrl.canModify()" translate>Add require</button>
      <button type="button" class="btn btn-default right" ng-click="ctrl.addReference()" ng-show="ctrl.canModify()" translate>Add reference</button>
    </editable-buttons>

    <div class="col-md-6">
      <editable title="Label"><input name="Label" class="form-control" type="text" localized-input ng-model="ctrl.modelInEdit.label" /></editable>
      <non-editable title="Id" value="ctrl.modelInEdit.id"></non-editable>
      <editable title="Comment"><textarea name="Comment" class="form-control" localized-input ng-model="ctrl.modelInEdit.comment"></textarea></editable>
      <editable title="State" value-as-localization-key="true"><state-select state="ctrl.modelInEdit.state"></state-select></editable>
    </div>

    <div class="col-md-6">
      <references-view references="ctrl.modelInEdit.references"></references-view>
      <requires-view requires="ctrl.modelInEdit.requires"></requires-view>
    </div>
  </div>
</form>
