$navbarWidth: 275px;

.model-panel--left-placeholder {
  float: left;
}

.model-panel--left {
  width: $navbarWidth;
  float: left;
  border-right: solid 1px #ddd;

  .nav-tabs {

    border-bottom: none;

    li {

      width: 33%;

      > a {
        padding: 10px 0 0 0;
      }
    }
  }

  ul.nav {
    margin-right: 0;
    padding: 9px;
  }

  .add-class-button {
    margin: 9px;
    width: calc(100% - 23px);
  }

  uib-tab-heading {
    i {
      width: 100%;
      padding-right: 2px;
      text-align: center;
      font-size: x-large;
    }
    p {
      width: 100%;
      text-align: center;
      font-size: x-small;
    }
  }

  .panel__list {
    li {
      cursor: pointer;
      padding: 5px 0 5px 10px;
      font-size: medium;
      border: 1px solid #fff;
    }

    li:hover {
      border: 1px solid #ddd;
    }
  }
}

.model-panel--right {
  float: right;
  width: calc(100% - #{$navbarWidth});
  padding: 15px;
}

.model-panel__selection {
  background-color: $list-group-hover-bg;
  border: 1px solid $pre-border-color;
  border-right-style: none;
}

uib-accordion .panel-group {
  margin: 20px auto;
}

.model-view__title {
  font-weight: bold;
  margin-top: 15px;
}

.model-view__sub {
  margin-left: 20px;
}

h2 .model-view__title {
  font-weight: normal;
}
