<div ng-hide="ctrl.loading">

  <div class="top">
    <model-view></model-view>
  </div>

  <div class="bottom" ng-if="ctrl.isModelSaved()">
    <div class="model-panel--left" float="model-panel--left-placeholder">
      <uib-tabset>

        <uib-tab active="ctrl.activeTab['class']">
          <uib-tab-heading>
            <i ng-class="ctrl.glyphIconClassForType('class')"></i><p>{{'Classes' | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.canEdit()" type="button" class="btn btn-default btn-md add-class-button" ng-click="ctrl.addClass()" translate>Add class</button>

          <ul class="panel__list" window-height padding="93" logged-in-padding="150">
            <li ng-repeat="class in ctrl.classes | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected(class)}"
                ng-click="ctrl.select(class)">
              {{class | translateLabel}}
            </li>
          </ul>
        </uib-tab>
        <uib-tab active="ctrl.activeTab['attribute']">
          <uib-tab-heading>
            <i ng-class="ctrl.glyphIconClassForType('attribute')"></i><p>{{'Attributes' | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.canEdit()" type="button" class="btn btn-default btn-md add-class-button" ng-click="ctrl.addPredicate('attribute')" translate>Add attribute</button>

          <ul class="panel__list" window-height padding="93" logged-in-padding="150">
            <li ng-repeat="attribute in ctrl.attributes() | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected(attribute)}"
                ng-click="ctrl.select(attribute)">
              {{attribute | translateLabel}}
            </li>
          </ul>
        </uib-tab>
        <uib-tab active="ctrl.activeTab['association']">
          <uib-tab-heading>
            <i ng-class="ctrl.glyphIconClassForType('association')"></i><p>{{'Associations' | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.canEdit()" type="button" class="btn btn-default btn-md add-class-button" ng-click="ctrl.addPredicate('association')" translate>Add association</button>

          <ul class="panel__list" window-height padding="93" logged-in-padding="150">
            <li ng-repeat="association in ctrl.associations() | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected(association)}"
                ng-click="ctrl.select(association)">
              {{association | translateLabel}}
            </li>
          </ul>
        </uib-tab>
      </uib-tabset>
    </div>

    <div class="model-panel--right" window-height="min">
      <selection-view></selection-view>
    </div>
  </div>

</div>
