<div ng-hide="ctrl.loading">

  <model-view model="ctrl.model"></model-view>

  <div class="bottom" ng-if="!ctrl.model.unsaved">
    <div class="model-panel--left" float="model-panel--left-placeholder">
      <uib-tabset>
        <uib-tab active="tab.active" ng-repeat="tab in ctrl.tabs">
          <uib-tab-heading>
            <i ng-class="tab.glyphIconClass"></i><p>{{tab.type | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.canEdit()" type="button" class="btn btn-default btn-md add-new-button" ng-click="tab.addNew()">{{tab.addLabel | translate}}</button>

          <ul class="panel__list" ng-class="{'has-button': ctrl.canEdit()}">
            <li ng-repeat="item in tab.items() | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected(item)}"
                ng-click="ctrl.select(item)">
              {{item | translateLabel}}
            </li>
          </ul>
        </uib-tab>
      </uib-tabset>
    </div>

    <div class="model-panel--right">
      <class-view ng-if="ctrl.selection.isClass()" class="ctrl.selection" model="ctrl.model"></class-view>
      <predicate-view ng-if="ctrl.selection.isPredicate()" predicate="ctrl.selection" model="ctrl.model"></predicate-view>
    </div>
  </div>
</div>
