<div class="col-md-5">

  <h4>{{ctrl.model.normalizedType + ' information' | capitalize | translate}}</h4>

  <editable data-title="{{ctrl.model.normalizedType + ' label' | capitalize}}" context="ctrl.model" autofocus>
    <input id="modelLabel" class="form-control" type="text" localized-input="modelLabel" context="ctrl.model" ng-model="ctrl.model.label" />
  </editable>

  <editable data-title="Description" context="ctrl.model">
    <textarea id="modelComment" class="form-control" localized-input context="ctrl.model" ng-model="ctrl.model.comment"></textarea>
  </editable>

  <editable-multiple-language-select data-title="Model languages" id="modelLanguage" ng-model="ctrl.model.language" required="true"></editable-multiple-language-select>

  <editable-root-class ng-if="ctrl.model.isOfType('profile')" model="ctrl.model"></editable-root-class>

  <non-editable data-title="Prefix" value="ctrl.model.prefix" context="ctrl.model"></non-editable>
  <non-editable data-title="Namespace" value="ctrl.model.namespace" context="ctrl.model" clipboard="ctrl.model.namespace"></non-editable>

  <h4 translate>Additional information</h4>

  <div class="row">
    <div class="col-md-6">
      <non-editable data-title="Created at" value="ctrl.model.createdAt" context="ctrl.model"></non-editable>
    </div>
    <div class="col-md-6">
      <non-editable data-title="Modified at" value="ctrl.model.modifiedAt" context="ctrl.model"></non-editable>
    </div>
  </div>

  <usage-panel entity="ctrl.model"></usage-panel>
</div>

<div class="col-md-5 col-md-offset-1">
  <vocabularies-view model="ctrl.model"></vocabularies-view>
  <reference-datas-view model="ctrl.model"></reference-datas-view>
  <imported-namespaces-view model="ctrl.model" model-controller="ctrl.modelController"></imported-namespaces-view>
  <technical-namespaces model="ctrl.model"></technical-namespaces>
  <links-view model="ctrl.model"></links-view>
</div>
