<div>
  <div ng-class="{'model-header': !ctrl.model.unsaved, 'main-header': ctrl.model.unsaved}" ng-click="ctrl.visible = ctrl.model.unsaved || !ctrl.visible">
    <h2>{{ctrl.model | translateLabel}} <accordion-chevron ng-show="!ctrl.model.unsaved" no-pull="true" is-open="ctrl.visible"></accordion-chevron></h2>
  </div>

  <form name="form" class="editable-form">
    <fieldset ng-disabled="ctrl.persisting">
      <div ng-if="ctrl.model" uib-collapse="!ctrl.visible" class="main-editable-content">

        <editable-entity-buttons editable-controller="ctrl">
          <button type="button" class="btn btn-default right" ng-click="ctrl.addRequire()" ng-show="ctrl.canModify()" translate>Add require</button>
          <button type="button" class="btn btn-default right" ng-click="ctrl.addReference()" ng-show="ctrl.canModify()" translate>Add reference</button>
          <export ng-hide="ctrl.isEditing()" entity="ctrl.model"></export>
        </editable-entity-buttons>

        <div class="col-md-5">
          <editable title="{{ctrl.model.normalizedType + ' label' | capitalize}}">
            <input id="modelLabel" class="form-control" type="text" localized-input="modelLabel" ng-model="ctrl.editableInEdit.label" />
          </editable>

          <non-editable title="Namespace" value="ctrl.editableInEdit.namespace"></non-editable>
          <non-editable title="Prefix" value="ctrl.editableInEdit.prefix"></non-editable>

          <editable title="Comment">
            <textarea id="modelComment" class="form-control" localized-input ng-model="ctrl.editableInEdit.comment"></textarea>
          </editable>

          <editable title="State" value-as-localization-key="true" ng-if="!ctrl.model.unsaved">
            <state-select id="modelState" state="ctrl.editableInEdit.state" model="ctrl.model"></state-select>
          </editable>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <references-view references="ctrl.editableInEdit.references"></references-view>
          <requires-view requires="ctrl.editableInEdit.requires"></requires-view>

          <h4 translate>Additional information</h4>
          <usage-panel entity="ctrl.model"></usage-panel>
        </div>
      </div>
    </fieldset>
  </form>
</div>
