<div>
  <button ng-show="editableController.canModify()" type="button" class="btn btn-default pull-right" ng-click="editableController.removeProperty(property)" translate>Delete property</button>
  <editable title="Name"><input name="Name" class="form-control" type="text" localized-input ng-model="property.label" /></editable>
  <editable title="Comment"><textarea name="Comment" class="form-control" localized-input ng-model="property.comment"></textarea></editable>
  <editable title="Example"><input name="Example" class="form-control" type="text" localized-input ng-model="property.example" /></editable>
  <editable title="Range" ng-if="predicate.isAttribute()"><range-select range="property.datatype"></range-select></editable>
  <editable title="Value class" ng-if="predicate.isAssociation()"><class-select class-name="property.valuesClass"></class-select></editable>
  <uib-accordion>
    <uib-accordion-group is-open="isOpen[property.predicateId]">
      <uib-accordion-heading>
        <span accordion-chevron is-open="isOpen[property.predicateId]">{{property.predicateCurie}}</span>
      </uib-accordion-heading>
      <div ng-if="isOpen[property.predicateId]">
        <non-editable title="Name" value="predicate"></non-editable>
        <non-editable title="Comment" value="predicate.comment"></non-editable>
        <non-editable title="Type" value="predicate.owlType"></non-editable>
        <non-editable title="Range" value="predicate.range"></non-editable>
      </div>
    </uib-accordion-group>
  </uib-accordion>
</div>
