<div class="modal-header modal-header-confirm">
  <h4 class="modal-title ng-binding">
    <span translate>Search schemes</span>
    <a type="button" title="Close" data-dismiss="modal"><i ng-click="ctrl.close()" class="glyphicon glyphicon-remove icon-arrow-right pull-right"></i></a>
  </h4>
</div>

<div class="modal-body search-modal">
  <div class="row">

    <div class="col-md-6">
      <div class="input-group input-group-lg">
        <input autofocus type="text" class="form-control" placeholder="{{'search scheme' | translate}}"
               ng-model="ctrl.searchText"
               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
      </div>
    </div>

    <div class="col-md-6 search-results" window-height padding="320">
      <div ng-repeat="scheme in ctrl.searchResults() track by scheme.id">
        <div ng-class="['search-result', {selected: ctrl.isSelected(scheme)}]" ng-click="ctrl.selectScheme(scheme)">
          <h5>{{scheme.title}}</h5>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.close()" translate>Cancel</button>
  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.confirm()" ng-disabled="!ctrl.selectedScheme" translate>Use scheme</button>
</div>
