<modal-template>
  <modal-title translate>Search namespaces</modal-title>

  <modal-body>
    <div class="clearfix" style="margin-bottom: 15px">
      <button type="button" class="btn btn-default btn-md pull-right" ng-click="ctrl.createNew()">
        <span class="glyphicon glyphicon-plus"></span>
        {{'Add new namespace' | translate}}
      </button>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <input autofocus type="text" class="form-control" placeholder="{{'search namespace' | translate}}"
                 ng-model="ctrl.searchText"
                 ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                 key-control="ctrl.searchResults" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>

        <div class="search-filters">
          <span class="title" translate>Filter results</span>
          <div class="form-group">
            <div class="checkbox">
              <label><input type="checkbox" ng-model="ctrl.showTechnical">{{'Show technical namespaces' | translate}}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6 search-results with-button">
        <ajax-loading-indicator ng-if="ctrl.loadingResults"></ajax-loading-indicator>

        <search-results ng-if="!ctrl.loadingResults" items="ctrl.searchResults" selected="ctrl.selected" exclude="ctrl.exclude" on-select="ctrl.selectItem(item)">
          <h5>{{searchResult | translateLabel}}</h5>
          <p>{{searchResult.namespace}}</p>
        </search-results>
      </div>
    </div>
  </modal-body>

  <modal-buttons>
    <button type="button" class="btn btn-default cancel" ng-click="ctrl.close()" translate>Cancel</button>
  </modal-buttons>
</modal-template>
