<div ng-if="ctrl.selection">
  <div class="col-md-7">
    <div class="component">
      <div class="component-header">
        <h3><span ng-class="ctrl.selection.glyphIconClass()"></span> {{ctrl.selection | translateLabel}}</h3>
      </div>

      <form>
        <div class="top-actions" float preserve-parent-width="true">
          <model-language-chooser></model-language-chooser>
          <button type="button" class="btn btn-default right" ng-click="ctrl.cancelEditing(true)" ng-show="ctrl.isEditing()" translate>Cancel edit</button>
          <button type="button" class="btn btn-default right" ng-click="ctrl.update()" ng-show="ctrl.isEditing()" translate>Save changes</button>
          <button type="button" class="btn btn-default right" ng-click="ctrl.edit()" ng-show="ctrl.canEdit()" translate>Edit</button>
          <button type="button" class="btn btn-default right" ng-click="ctrl.remove()" ng-show="ctrl.canRemove()">
            {{ctrl.selection.isClass() ? 'Delete class' : 'Delete predicate' | translate}}
          </button>
          <button type="button" class="btn btn-default right" ng-click="ctrl.addProperty()" ng-show="ctrl.canAddProperty()" translate>Add property</button>

          <div class="alert alert-danger" role="alert" ng-show="ctrl.submitError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span translate>Save failed</span>
          </div>
        </div>

        <div class="selection-form">
          <class-form ng-if="ctrl.selection.isClass()" class="ctrl.selectionInEdit" references="modelController.getModel().references"></class-form>
          <predicate-form ng-if="ctrl.selection.isPredicate()" predicate="ctrl.selectionInEdit" references="modelController.getModel().references"></predicate-form>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-5">
    <div class="component" float preserve-parent-width="true" top-offset="8">
      <div class="component-header">
        <h3 translate>Visualization</h3>
      </div>
      <div window-height="no-scroll" padding="80"></div>
    </div>
  </div>
</div>
