<form>
  <div ng-if="ctrl.selection">
    <div class="top-actions" float="top-actions-placeholder" preserve-parent-width="true" top-offset="8">
      <model-language-chooser></model-language-chooser>
      <button type="button" class="btn btn-default right" ng-click="ctrl.cancelEditing(true)" ng-show="ctrl.isEditing()" translate>Cancel edit</button>
      <button type="button" class="btn btn-default right" ng-click="ctrl.update()" ng-show="ctrl.isEditing()" translate>Save changes</button>
      <button type="button" class="btn btn-default right" ng-click="ctrl.edit()" ng-show="ctrl.canEdit()" translate>Edit</button>
      <button type="button" class="btn btn-default right" ng-click="ctrl.remove()" ng-show="ctrl.canRemove()">
        {{ctrl.selection.isClass() ? 'Delete class' : 'Delete predicate' | translate}}
      </button>
      <button type="button" class="btn btn-default right" ng-click="ctrl.addProperty()" ng-show="ctrl.canAddProperty()" translate>Add property</button>

      <div class="alert alert-danger" role="alert" ng-show="ctrl.submitError">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span translate>Save failed</span>
      </div>
    </div>

    <class-form ng-if="ctrl.selection.isClass()" class="ctrl.selectionInEdit"></class-form>
    <predicate-form ng-if="ctrl.selection.isPredicate()" predicate="ctrl.selectionInEdit"></predicate-form>
  </div>
</form>
