{
  "extends": "airbnb/base",
  "globals": {
    "angular": true,
    "jQuery": true
  },
  "rules": {
    "comma-dangle": [2, "never"],
    "no-unused-vars": [2, {
      "vars": "local",
      "args": "none"
    }],
    "no-use-before-define": 0,
    "no-else-return": 0
  }
}
