<div class="editable-wrap form-group">
  <label for="{{ctrl.inputId}}" ng-show="ctrl.displayValue || ctrl.isEditing()">{{ctrl.title | translate}} <span ng-show="ctrl.required && ctrl.isEditing()" style="color: red">*</span></label>
  <div ng-show="ctrl.isEditing()" ng-transclude></div>

  <a ng-show="ctrl.showLink" ng-href="{{ctrl.href}}">{{ctrl.displayValue}}</a>
  <span ng-show="ctrl.showPlain" >{{ctrl.displayValue}}</span>

  <error-messages ng-model-controller="ctrl.ngModelController"></error-messages>
</div>
