
<div ng-show="isVisible()">
  <ul ng-messages="ngModelController.$error" ng-messages-multiple class="errors" ng-repeat="ngModelController in ngModelControllers">
    <li ng-message="url">{{'Invalid url error' | translate}}</li>
    <li ng-message="namespace">{{'Invalid namespace error' | translate}}</li>
    <li ng-message="id">{{'Invalid id error' | translate}}</li>
    <li ng-message="existingId">{{'Existing id error' | translate}}</li>
    <li ng-message="required">{{'Required error' | translate}}</li>
    <li ng-message="requiredLocalized">{{'Required localized error' | translate}}</li>
    <li ng-message="duplicate">{{'Duplicate error' | translate}}</li>
    <li ng-message="string">{{'String error' | translate}}</li>
    <li ng-message="length">{{'Length error' | translate}}</li>
    <li ng-message="prefix">{{'Prefix error' | translate}}</li>
    <li ng-message="negative">{{'Negative error' | translate}}</li>
    <li ng-message="greaterThanMax">{{'Greater than max error' | translate}}</li>
    <li ng-message="lessThanMin">{{'Less than min error' | translate}}</li>
    <li ng-message="unknownNS">{{'Namespace is not required' | translate}}</li>
    <li ng-message="idNameRequired">{{'Id name is required' | translate}}</li>

    <li ng-message-exp="error.key" ng-repeat="error in dynamicErrors">{{error.message | translate}} {{error.format}}</li>
  </ul>
</div>
