<ng-transclude></ng-transclude>

<div ng-show="ngModelController.$dirty || ngModelController.$modelValue">
  <ul ng-messages="ngModelController.$error" ng-messages-multiple class="errors">
    <li ng-message="url">{{'Invalid url error' | translate}}</li>
    <li ng-message="namespace">{{'Invalid namespace error' | translate}}</li>
    <li ng-message="curie">{{'Invalid curie error' | translate}}</li>
    <li ng-message="existingId">{{'Existing id error' | translate}}</li>
    <li ng-message="required">{{'Required error' | translate}}</li>
    <li ng-message="requiredLocalized">{{'Required localized error' | translate}}</li>
    <li ng-message="duplicate">{{'Duplicate error' | translate}}</li>
    <li ng-message="string">{{'String error' | translate}}</li>
    <li ng-message="length">{{'Length error' | translate}}</li>
    <li ng-message="prefix">{{'Prefix error' | translate}}</li>
  </ul>
</div>
