<div class="editable-wrap">
  <div ng-show="(hasContent() || formController.editing) && (!titleEditOnly || formController.editing)" class="model-view__title">{{title | translate}}</div>
  <div ng-if="localized">
    <input ng-show="formController.editing" type="text" ng-model="ngModel" localized-input class="editable-input form-control" />
    <span ng-hide="formController.editing">{{ngModel | translateValue}}</span>
  </div>
  <div ng-if="!localized">
    <input ng-show="formController.editing" type="text" ng-model="ngModel" class="editable-input form-control" />
    <span ng-hide="formController.editing">{{ngModel}}</span>
  </div>
</div>
