<form name="conceptForm">
  <modal-template>
    <modal-title>{{ctrl.defineConceptTitle | translate}}</modal-title>

    <modal-body>

      <editable title="Concept">
        <div class="input-group input-group-md">
          <input id="conceptLabel" type="text" class="form-control" autofocus required string-input="label" ng-model="ctrl.conceptLabel" />
        </div>
      </editable>

      <editable title="Comment">
        <div class="input-group input-group-md">
          <textarea id="conceptComment" class="form-control" autofocus required string-input ng-model="ctrl.conceptComment"></textarea>
        </div>
      </editable>

      <editable title="{{ctrl.labelTitle}}">
        <div class="input-group input-group-md">
          <input id="name" type="text" class="form-control" required string-input="label" ng-model="ctrl.label" />
        </div>
      </editable>

      <p><span translate>Concept is suggested to scheme</span> {{ctrl.reference.title | translateValue}}</p>
    </modal-body>

    <modal-buttons>
      <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
      <button class="btn btn-default" type="button" ng-click="ctrl.create()" ng-disabled="!conceptForm.$valid" translate>Create new</button>
    </modal-buttons>
  </modal-template>
</form>
