<modal-template class="add-properties-from-class">
  <modal-title>{{'Add properties from ' + ctrl.classType | translate}}</modal-title>

  <modal-body>
    <p><span>{{'Do you want to add following properties from ' + ctrl.classType + '?' | translate}}</span></p>

    <div ng-repeat="(type, properties) in ctrl.properties track by $index">
      <h5>{{type | translate}}</h5>

      <div class="checkbox" ng-repeat="property in properties track by property.internalId.uri">
        <label>
          <input ng-disabled="ctrl.isExcluded(property)" type="checkbox" checklist-model="ctrl.selectedProperties" checklist-value="property" />
          <span uib-tooltip="{{ctrl.tooltip(property)}}">
          <i ng-class="property.glyphIconClass"></i>
          {{property | translateLabel: ctrl.context}}
        </span>
        </label>
      </div>
    </div>

    <button class="btn btn-default btn-xs" ng-click="ctrl.selectAll()" translate>Select all</button>
    <button class="btn btn-default btn-xs" ng-click="ctrl.deselectAll()" translate>Deselect all</button>
  </modal-body>

  <modal-buttons>
    <button class="btn btn-primary confirm" type="button" ng-click="$close(ctrl.selectedProperties)" translate>Yes</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss('cancel')" translate>Cancel</button>
  </modal-buttons>
</modal-template>
