<modal-template>
  <modal-title translate>Add properties from super class</modal-title>
  <modal-body>

    <p><span translate>Do you want to add following properties from super class?</span></p>
    <ul>
      <li ng-repeat="property in ctrl.properties">{{property | translateLabel}}</li>
    </ul>
  </modal-body>

  <modal-buttons>
    <button class="btn btn-primary" type="button" ng-click="$close(ctrl.properties)" translate>Yes</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss('cancel')" translate>Cancel</button>
  </modal-buttons>
</modal-template>
