<modal-template>
  <modal-title>{{'Add properties from ' + ctrl.classType + ' class' | translate}}</modal-title>

  <modal-body>
    <p><span>{{'Do you want to add following properties from ' + ctrl.classType + ' class?' | translate}}</span></p>
    <div class="checkbox" ng-repeat="property in ctrl.properties track by property.internalId.value">
      <label>
        <input ng-disabled="ctrl.isExcluded(property)" type="checkbox" checklist-model="ctrl.selectedProperties" checklist-value="property" />
        <span ng-class="strike">{{property | translateLabel: ctrl.context}}</span>
      </label>
    </div>
    <button class="btn btn-default btn-xs" ng-click="ctrl.selectAll()" translate>Select all</button>
    <button class="btn btn-default btn-xs" ng-click="ctrl.deselectAll()" translate>Deselect all</button>
  </modal-body>

  <modal-buttons>
    <button class="btn btn-primary" type="button" ng-click="$close(ctrl.selectedProperties)" translate>Yes</button>
    <button class="btn btn-default" type="button" ng-click="$dismiss('cancel')" translate>Cancel</button>
  </modal-buttons>
</modal-template>
