<editable title="Class label">
  <input id="classLabel" class="form-control" type="text" localized-input="required" ng-model="ctrl.class.label"/>
</editable>

<editable title="Id">
  <input id="classId" class="form-control" type="text" required id-input old="ctrl.oldClass" ng-model="ctrl.class.curie" ng-disabled="!ctrl.inUnstableState" />
</editable>

<editable title="Comment">
  <textarea id="classComment" class="form-control" localized-input ng-model="ctrl.class.comment"></textarea>
</editable>

<editable title="Superclass" link="ctrl.linkToSubclass()">
  <class-select id="superClass" curie="ctrl.class.subClassOf" model="ctrl.model"></class-select>
</editable>

<non-editable title="Is defined by" value="ctrl.class.modelId" link="ctrl.class.iowUrl()"></non-editable>

<editable title="State" value-as-localization-key="true" ng-if="!ctrl.class.unsaved">
  <state-select id="classState" state="ctrl.class.state" model="ctrl.model"></state-select>
</editable>

<editable-subject-select references="ctrl.model.references" type="class" subject="ctrl.class.subject" disable="!ctrl.inUnstableState"></editable-subject-select>

<uib-accordion close-others="true">
  <uib-accordion-group ng-repeat="property in ctrl.class.properties | orderByLabel" is-open="ctrl.propertyViews[property.id].isOpen">
    <uib-accordion-heading>
      <span ng-class="property.glyphIconClass"></span>
      <span>{{property | translateLabel}}</span>
      <accordion-chevron is-open="ctrl.propertyViews[property.id].isOpen"></accordion-chevron>
    </uib-accordion-heading>
    <property-view property="property" model="ctrl.model"></property-view>
  </uib-accordion-group>
</uib-accordion>
