<form name="form" class="editable-form">
  <fieldset ng-disabled="ctrl.persisting">
    <div ng-if="ctrl.class && ctrl.model">
      <selection-view model="ctrl.model" editable-controller="ctrl" show="ctrl.show">
        <selection-buttons>
          <a class="btn btn-default right" ng-show="ctrl.canAskForRights()" ng-href="{{ctrl.getGroup().homepage}}" target="_blank" translate>Ask for group rights</a>
          <button type="button" class="btn btn-default right" ng-click="ctrl.addProperty()" ng-show="ctrl.isEditing()" uib-tooltip="{{'Add property' | translate}}">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <export ng-hide="ctrl.isEditing()" entity="ctrl.class" context="ctrl.model"></export>
          <history model="ctrl.model" resource="ctrl.class" ng-hide="ctrl.isEditing()"></history>
          <button type="button" class="btn btn-default right" ng-click="ctrl.startHelp()" ng-show="ctrl.canStartHelp()" uib-tooltip="{{'Start help' | translate}}">
            <span class="glyphicon glyphicon-question-sign"></span>
          </button>
          <editable-state-select class="pull-right" ng-if="!ctrl.editableInEdit.unsaved" id="classState" state="ctrl.editableInEdit.state" model="ctrl.model"></editable-state-select>
        </selection-buttons>

        <selection-content>
          <class-form class="ctrl.editableInEdit" old-class="ctrl.class" model="ctrl.model" open-property-id="ctrl.openPropertyId"></class-form>
        </selection-content>
      </selection-view>
    </div>
  </fieldset>
</form>
