
<h3>{{ctrl.class.type + ' information' | capitalize | translate}}</h3>

<editable title="{{ctrl.class.type + ' label' | capitalize}}">
  <input id="classLabel" class="form-control" type="text" localized-input="label" ng-model="ctrl.class.label"/>
</editable>

<editable title="Id">
  <input id="classId" class="form-control" type="text" required id-input="class" old="ctrl.oldClass" ng-model="ctrl.class.curie" ng-disabled="!ctrl.inUnstableState" />
</editable>

<editable title="Comment">
  <textarea id="classComment" class="form-control" localized-input ng-model="ctrl.class.comment"></textarea>
</editable>

<editable title="Superclass" link="ctrl.linkToSuperclass()">
  <curie-select id="superClass" type="class" curie="ctrl.class.subClassOf" model="ctrl.model" after-selected="ctrl.addPropertiesFromSuperClass(id)"></curie-select>
</editable>

<editable-multiple-curie-select id="equivalentClass" type="class" curies="ctrl.class.equivalentClasses" model="ctrl.model"></editable-multiple-curie-select>

<non-editable title="Is defined by" value="ctrl.class.definedBy.label" link="ctrl.class.iowUrl()"></non-editable>

<editable title="State" value-as-localization-key="true" ng-if="!ctrl.class.unsaved">
  <state-select id="classState" state="ctrl.class.state" model="ctrl.model"></state-select>
</editable>

<editable-subject-select references="ctrl.model.references" type="class" subject="ctrl.class.subject" disable="!ctrl.inUnstableState"></editable-subject-select>

<h3>{{ctrl.class.type + ' properties' | capitalize | translate}}</h3>

<uib-accordion close-others="true">
  <uib-accordion-group ng-repeat="property in ctrl.class.properties  | orderBy:'index'" is-open="ctrl.propertyViews[property.id].isOpen">
    <uib-accordion-heading>
      <span ng-class="property.glyphIconClass"></span>
      <span>{{property | translateLabel}}</span>
      <accordion-chevron is-open="ctrl.propertyViews[property.id].isOpen"></accordion-chevron>
      <div class="property-ordering" ng-show="ctrl.isEditing()">
        <span ng-show="!$first"
              class="glyphicon glyphicon-chevron-up"
              ng-click="ctrl.movePropertyUp($event, property)"></span>
        <br />
        <span ng-show="!$last"
              class="glyphicon glyphicon-chevron-down"
              ng-click="ctrl.movePropertyDown($event, property)"></span>
      </div>
    </uib-accordion-heading>
    <property-view property="property" class="ctrl.class" model="ctrl.model"></property-view>
  </uib-accordion-group>
</uib-accordion>

<h3 translate>Additional information</h3>

<usage-panel id="ctrl.class.id"></usage-panel>
