<div class="editable-wrap">
  <div ng-show="ctrl.subject || formController.editing">
    <div class="model-view__title" translate>Subject</div>
    <div ng-hide="ctrl.subject" translate>Not defined</div>
    <div class="model-view__sub">
      <non-editable title="Id" value="ctrl.subject.id" external-link="ctrl.subject.id"></non-editable>
      <non-editable title="Label" value="ctrl.subject.label"></non-editable>
      <non-editable title="Comment" value="ctrl.subject.comment"></non-editable>
    </div>
    <div ng-class="{'model-view__sub': ctrl.subject}">
      <button ng-show="formController.editing" type="button" class="btn btn-default btn-sm" ng-click="ctrl.selectSubject()" translate>Choose subject</button>
    </div>
  </div>
</div>
