<div ng-if="ctrl.referenceData.length > 0 || ctrl.isEditing()" class="editable-wrap">
  <div>
    <editable-label data-title="'Reference data'"></editable-label>
    <div ng-show="ctrl.referenceData.length === 0" translate>Not defined</div>
  </div>

  <div ng-if="ctrl.referenceData.length > 0" class="model-view__sub row">
    <editable-table descriptor="ctrl.descriptor" values="ctrl.referenceData" expanded="ctrl.expanded"></editable-table>
  </div>

  <div ng-class="{'model-view__sub': !!ctrl.referenceData}" style="margin-bottom: 15px">
    <button ng-if="ctrl.isEditing()" type="button" class="btn btn-default btn-sm" ng-click="ctrl.addReferenceData()" translate>Add reference data</button>
  </div>
</div>
