<div class="editable-wrap">

  <editable-label data-title="ctrl.title"></editable-label>
  <div ng-hide="ctrl.concept" translate>Not defined</div>

  <div ng-if="ctrl.concept" class="model-view__sub row">
    <div class="col-md-6">
      <editable-label data-title="'Concept label'"></editable-label>
      <span>{{ctrl.concept.label | translateValue: ctrl.model}}</span>
    </div>
    <div class="col-md-6">
      <editable-label data-title="'Definition'"></editable-label>
      <span>{{ctrl.concept.comment | translateValue: ctrl.model}}</span>
    </div>
  </div>

  <div ng-if="ctrl.isEditing()">
    <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.selectConcept()" translate>Choose concept</button>
    <button ng-show="!!ctrl.concept" type="button" class="btn btn-default btn-sm" ng-click="ctrl.clearSelection()" translate>Clear selection</button>
  </div>

</div>
