<div ng-if="ctrl.codeScheme || ctrl.isEditing()">
  <div>
    <editable-label data-title="'Code scheme'"></editable-label>
    <div ng-hide="ctrl.codeScheme" translate>Not defined</div>
  </div>
  <div ng-if="ctrl.codeScheme" class="model-view__sub row">
    <non-editable class="col-md-5" title="Code scheme name" value="ctrl.codeScheme.title" context="ctrl.model"></non-editable>
    <non-editable class="col-md-7" title="Description" value="ctrl.codeScheme.description" context="ctrl.model"></non-editable>
  </div>
  <div ng-if="ctrl.codeScheme" class="row">
    <div class="col-md-12">
      <a ng-click="ctrl.browse()" translate>Browse code values</a>
    </div>
  </div>

  <div ng-class="{'model-view__sub': !!ctrl.codeScheme}" style="margin-bottom: 15px">
    <button ng-if="ctrl.isEditing()" type="button" class="btn btn-default btn-sm" ng-click="ctrl.selectCodeScheme()" translate>Choose code scheme</button>
    <button ng-show="ctrl.isEditing() && ctrl.codeScheme" type="button" class="btn btn-default btn-sm" ng-click="ctrl.removeCodeScheme()" translate>Clear selection</button>
  </div>
</div>
