<div ng-show="ctrl.ngModel.length > 0 || ctrl.isEditing()" class="editable-wrap form-group">
  <editable-label input-id="ctrl.id" ng-show="ctrl.title" data-title="ctrl.title"></editable-label>

  <div ng-if="!ctrl.isEditing()" class="content">
    <span ng-repeat="value in ctrl.ngModel">
      <span ng-if="!ctrl.link">{{ctrl.format(value)}}<span ng-if="!$last">, </span></span>
      <a ng-if="ctrl.link" ng-href="{{ctrl.link(value)}}">{{ctrl.format(value)}}<span ng-if="!$last">, </span></a>
    </span>
  </div>

  <div ng-show="ctrl.isEditing()">
    <div class="form-control multi-input" drag-sortable="ctrl.ngModel">
      <div ng-repeat="value in ctrl.ngModel" class="added-item">
        <div class="box draggable" ng-class="{ 'has-error': !ctrl.isValid(value)}" drag-sortable-item>
          {{ctrl.format(value)}}
          <div class="delete-item badge" ng-click="ctrl.deleteValue(value)">&times;</div>
        </div>
      </div>

      <ng-transclude ng-transclude-slot="input"></ng-transclude>
    </div>

    <error-messages ng-model-controller="ngModelControllers"></error-messages>

    <ng-transclude ng-transclude-slot="button"></ng-transclude>
  </div>
</div>
