<div class="editable-wrap form-group">
  <editable-label input-id="ctrl.id" ng-show="ctrl.title && (ctrl.ngModel.length > 0 || ctrl.isEditing())" data-title="ctrl.title"></editable-label>

  <span ng-if="!ctrl.isEditing()" ng-repeat="value in ctrl.ngModel">
    <span ng-if="!ctrl.link">{{ctrl.format(value)}}<span ng-if="!$last">, </span></span>
    <a ng-if="ctrl.link" ng-href="{{ctrl.link(value)}}">{{ctrl.format(value)}}<span ng-if="!$last">, </span></a>
  </span>

  <div ng-show="ctrl.isEditing()">
    <div class="form-control multi-input">
      <div ng-repeat="value in ctrl.ngModel track by $index" class="added-item">
        <div editable-multiple-droppable="left" class="drop-target" ng-class="ctrl.getDragClasses($index)"></div>

        <div class="box" ng-class="{ 'has-error': !ctrl.isValid(value)}" editable-multiple-draggable editable-multiple-droppable>
          {{ctrl.format(value)}}
          <div class="delete-item badge" ng-click="ctrl.deleteValue(value)">&times;</div>
        </div>

        <div ng-if="$last" editable-multiple-droppable="right" class="drop-target" ng-class="ctrl.getDragClasses($index + 1)"></div>
      </div>

      <input name="valueInput"
             id="{{ctrl.id}}"
             type="text"
             restrict-duplicates="ctrl.ngModel"
             ng-model="ctrl.input"
             ng-keydown="ctrl.keyPressed($event)"
             ng-blur="ctrl.addValueFromInput()"
             ng-hide="ctrl.hideInput" />
    </div>

    <error-messages ng-model-controller="ngModelControllers"></error-messages>

    <ng-transclude></ng-transclude>
  </div>
</div>
