<div class="editable-wrap form-group">
  <label for="{{ctrl.id}}" ng-show="ctrl.items.length > 0 || ctrl.isEditing()">{{ctrl.title | translate}}</label>

  <span ng-if="!ctrl.isEditing()" ng-repeat="item in ctrl.items">
    <span ng-show="item.showPlain">{{item.displayValue}}<span ng-if="!$last">, </span></span>
    <a ng-show="item.showLink" ng-href="{{item.href}}">{{item.displayValue}}<span ng-if="!$last">, </span></a>
  </span>

  <div ng-if="ctrl.isEditing()">
    <error-messages>
      <div class="form-control multi-input">
        <div ng-repeat="item in ctrl.items" class="added-item">
          {{item.displayValue}}
          <div class="delete-item badge" ng-click="ctrl.deleteCurie(item)">&times;</div>
        </div>

        <input name="curieInput"
               id="{{ctrl.id}}"
               curie-input
               model="ctrl.model"
               type="text"
               restrict-duplicates="ctrl.curies"
               ng-model="ctrl.curieInput"
               ng-keydown="ctrl.keyPressed($event)"
               ng-blur="ctrl.addCurieFromInput()" />
      </div>
    </error-messages>

    <button ng-show="ctrl.isEditing()" type="button" class="btn btn-default btn-sm" style="display: block" ng-click="ctrl.addCurie()">{{('Choose ' + ctrl.type) | translate}}</button>
  </div>
</div>
