<div class="editable-wrap form-group">

  <span ng-if="!ctrl.isEditing()" ng-repeat="item in ctrl.constraint.items">
    <a ng-href="{{'#' + ctrl.linkItem(item)}}">{{item | translateLabel}}</a>
    <span ng-if="!$last">&nbsp;{{ctrl.constraint.constraint}}&nbsp;</span>
  </span>

  <!-- FIXME: remove inline styles -->
  <div ng-if="ctrl.isEditing()">
    <div class="input-group input-group-sm pull-left" style="width: 80px">
      <select class="form-control" ng-model="ctrl.constraint.constraint" style="height: 39px">
        <option value="or">Or</option>
        <option value="and">And</option>
      </select>
    </div>
    <div class="form-control multi-input" style="max-width: 415px">
      <div ng-repeat="item in ctrl.constraint.items" class="added-item">
        {{item | translateLabel}}
        <div class="delete-item badge" ng-click="ctrl.removeItem(item)">&times;</div>
      </div>
    </div>

    <button type="button" class="btn btn-default btn-sm" style="display: block" ng-click="ctrl.addItem()" translate>Choose shape</button>
  </div>
</div>
