<h4>{{ctrl.predicate.normalizedType + ' information' | capitalize | translate}}</h4>


<div class="row">
  <div class="col-md-6">
    <editable data-title="{{ctrl.predicate.normalizedType + ' label' | capitalize}}" context="ctrl.model" autofocus="ctrl.shouldAutofocus">
      <input id="predicateName" class="form-control" type="text" localized-input="label" context="ctrl.model" ng-model="ctrl.predicate.label" />
    </editable>
  </div>
  <div class="col-md-6">
    <editable data-title="Description" context="ctrl.model">
      <textarea id="predicateComment" class="form-control" localized-input context="ctrl.model" ng-model="ctrl.predicate.comment"></textarea>
    </editable>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <editable data-title="{{ctrl.predicate.normalizedType + ' id' | capitalize}}" context="ctrl.model">
      <input id="predicateId" class="form-control" type="text" required id-input="predicate" old="ctrl.oldPredicate" ng-model="ctrl.predicate.id" ng-disabled="!ctrl.predicate.inUnstableState" />
    </editable>

    <editable data-title="{{'Super' + ctrl.predicate.normalizedType}}" link="ctrl.linkToSuperproperty()" context="ctrl.model">
      <uri-select id="superPredicate" type="{{ctrl.predicate.normalizedType}}" uri="ctrl.predicate.subPropertyOf" model="ctrl.model"></uri-select>
    </editable>

    <defined-by entity="ctrl.predicate" model="ctrl.model"></defined-by>
  </div>

  <div class="col-md-6">
    <editable ng-if="ctrl.predicate.isAttribute()" data-title="Range" name="Range" context="ctrl.model">
      <range-select id="predicateRange" range="ctrl.predicate.dataType"></range-select>
    </editable>

    <editable ng-if="ctrl.predicate.isAssociation()" data-title="Value class" name="Value class" link="ctrl.linkToValueClass()" context="ctrl.model">
      <uri-select id="predicateValueClass" type="class" uri="ctrl.predicate.valueClass" model="ctrl.model"></uri-select>
    </editable>

    <editable-multiple-uri-select id="equivalentProperty" type="{{ctrl.predicate.normalizedType}}" ng-model="ctrl.predicate.equivalentProperties" model="ctrl.model" data-title="{{'Equivalent ' + ctrl.predicate.normalizedType}}"></editable-multiple-uri-select>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <editable-subject-select type="{{ctrl.predicate.normalizedType}}" subject="ctrl.predicate.subject" model="ctrl.model" disable="!ctrl.predicate.inUnstableState"></editable-subject-select>
  </div>
</div>

<h4 translate>Additional information</h4>

<div class="row">
  <div class="col-md-6">
    <non-editable data-title="Created at" value="ctrl.predicate.createdAt" context="ctrl.model"></non-editable>
  </div>
  <div class="col-md-6">
    <non-editable data-title="Modified at" value="ctrl.predicate.modifiedAt" context="ctrl.model"></non-editable>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <editable data-title="Editorial note" context="ctrl.model">
      <textarea id="editorialNote" class="form-control" localized-input="free" context="ctrl.model" ng-model="ctrl.predicate.editorialNote"></textarea>
    </editable>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <usage-panel entity="ctrl.predicate" context="ctrl.model"></usage-panel>
  </div>
</div>
