<h3>{{ctrl.predicate.type + ' information' | capitalize | translate}}</h3>

<editable title="{{ctrl.predicate.normalizedType + ' label' | capitalize}}">
  <input id="predicateName" class="form-control" type="text" localized-input="label" ng-model="ctrl.predicate.label" />
</editable>

<editable title="{{ctrl.predicate.normalizedType + ' id' | capitalize}}">
  <input id="predicateId" class="form-control" type="text" required id-input="predicate" old="ctrl.oldPredicate" ng-model="ctrl.predicate.id" ng-disabled="!ctrl.inUnstableState" />
</editable>

<editable title="Description">
  <textarea id="predicateComment" class="form-control" localized-input ng-model="ctrl.predicate.comment"></textarea>
</editable>

<editable title="{{'Super' + ctrl.predicate.normalizedType}}" link="ctrl.linkToSuperproperty()">
  <uri-select id="superPredicate" type="{{ctrl.predicate.normalizedType}}" curie="ctrl.predicate.subPropertyOf" model="ctrl.model"></uri-select>
</editable>

<editable-multiple-uri-select id="equivalentProperty" type="{{ctrl.predicate.normalizedType}}" uris="ctrl.predicate.equivalentProperties" model="ctrl.model" title="{{'Equivalent ' + ctrl.predicate.type}}" allow-input="true"></editable-multiple-uri-select>

<editable ng-if="ctrl.predicate.isAttribute()" title="Range" name="Range">
  <range-select id="predicateRange" range="ctrl.predicate.dataType"></range-select>
</editable>

<editable ng-if="ctrl.predicate.isAssociation()" title="Value class" name="Value class" link="ctrl.linkToValueClass()">
  <uri-select id="predicateValueClass" type="class" curie="ctrl.predicate.valueClass" model="ctrl.model"></uri-select>
</editable>

<non-editable title="Is defined by" value="ctrl.predicate.definedBy.label" link="ctrl.predicate.iowUrl()"></non-editable>

<editable title="State" value-as-localization-key="true" ng-if="!ctrl.predicate.unsaved">
  <state-select id="predicateState" state="ctrl.predicate.state" model="ctrl.model"></state-select>
</editable>

<editable-subject-select references="ctrl.model.references" type="{{ctrl.predicate.normalizedType}}" subject="ctrl.predicate.subject" disable="!ctrl.inUnstableState"></editable-subject-select>

<h3 translate>Additional information</h3>

<usage-panel entity="ctrl.predicate"></usage-panel>
