<form name="form" ng-if="ctrl.predicate && ctrl.model">
  <div>
    <selection-view editable-controller="ctrl">
      <selection-buttons>
        <button type="button" class="btn btn-default right" ng-click="ctrl.addProperty()" ng-show="ctrl.canModify()" translate>Add property</button>
      </selection-buttons>

      <selection-content>
        <predicate-form predicate="ctrl.editableInEdit" model="ctrl.model"></predicate-form>
      </selection-content>

      <selection-visualization>
        <predicate-visualization data="visualizationData"></predicate-visualization>
      </selection-visualization>
    </selection-view>
  </div>
</form>
