<div ng-if="ctrl.predicate">

  <div class="row">
    <div class="col-md-12">
      <h4 class="pull-left" translate>Reusable predicate information</h4>


      <button ng-if="ctrl.isEditing()"
              type="button"
              class="btn btn-default pull-right"
              ng-disabled="!ctrl.property.inUnstableState"
              ng-click="ctrl.changeReusablePredicate()" uib-tooltip="{{'Change reusable predicate' | translate}}"><i class="fa fa-repeat"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <non-editable data-title="{{ctrl.predicate.normalizedType + ' label' | capitalize}}" value="ctrl.predicate.label" context="ctrl.model"></non-editable>
      <non-editable data-title="{{ctrl.predicate.normalizedType + ' id' | capitalize}}" value="ctrl.predicate.id" link="ctrl.linkToId()" context="ctrl.model"></non-editable>
      <non-editable data-title="Range" value="ctrl.predicate.range" context="ctrl.model"></non-editable>
    </div>
    <div class="col-md-6">
      <non-editable data-title="Description" value="ctrl.predicate.comment" context="ctrl.model"></non-editable>
      <defined-by entity="ctrl.predicate" model="ctrl.model"></defined-by>
      <non-editable data-title="Predicate type" value="ctrl.predicate.normalizedType" value-as-localization-key="true" context="ctrl.model"></non-editable>
    </div>
  </div>

  <subject-view entity="ctrl.predicate" model="ctrl.model"></subject-view>

</div>

<div ng-if="ctrl.predicate === null">
  <span class="pull-left">Predicate information not found</span>

  <button ng-if="ctrl.isEditing()"
          type="button"
          class="btn btn-default pull-right"
          ng-disabled="!ctrl.property.inUnstableState"
          ng-click="ctrl.changeReusablePredicate()" uib-tooltip="{{'Change reusable predicate' | translate}}"><i class="fa fa-repeat"></i></button>
</div>
