<div>
  <button ng-show="editableController.canModify()" type="button" class="btn btn-default pull-right" ng-click="editableController.removeProperty(property)" translate>Delete property</button>

  <editable title="Name">
    <input name="Name" class="form-control" type="text" localized-input ng-model="ctrl.property.label" />
  </editable>

  <editable title="Comment">
    <textarea name="Comment" class="form-control" localized-input ng-model="ctrl.property.comment"></textarea>
  </editable>

  <editable title="Example">
    <input name="Example" class="form-control" type="text" localized-input ng-model="ctrl.property.example" />
  </editable>

  <editable ng-if="predicate.isAttribute()" title="Range">
    <range-select range="ctrl.property.datatype"></range-select>
  </editable>

  <editable ng-if="predicate.isAssociation()"
            title="Value class"
            link="ctrl.linkToValueClass()"
            external-link="ctrl.linkToExternalValueClass()">
    <class-select name="Value class" curie="ctrl.property.valuesClass" model="ctrl.model"></class-select>
  </editable>

  <uib-accordion>
    <uib-accordion-group is-open="predicateOpen">
      <uib-accordion-heading>
        <span accordion-chevron is-open="predicateOpen">{{ctrl.property.predicateCurie}}</span>
      </uib-accordion-heading>
      <non-editable title="Name" value="ctrl.predicate.label"></non-editable>
      <non-editable title="Comment" value="ctrl.predicate.comment"></non-editable>
      <non-editable title="Type" value="ctrl.predicate.rawType"></non-editable>
      <non-editable title="Range" value="ctrl.predicate.range"></non-editable>
      <non-editable title="Is defined by" value="ctrl.predicate.modelId" link="ctrl.predicate.iowUrl"></non-editable>
    </uib-accordion-group>
  </uib-accordion>
</div>
