<modal-template editing="false">
  <modal-title translate>Search classes</modal-title>

  <modal-body>

    <button ng-if="!ctrl.onlySelection" type="button" class="btn btn-default btn-md pull-right" ng-click="ctrl.createNewClass()">
      <span class="glyphicon glyphicon-plus"></span>
      {{'Create new class' | translate}}
    </button>

    <div class="row">

      <div class="col-md-4">
        <p translate>Class search info</p>
        <div class="input-group input-group-lg">
          <input autofocus type="text" class="form-control" placeholder="{{'search class' | translate}}"
                 ng-model="ctrl.searchText"
                 ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                 key-control="ctrl.searchResults" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>

        <div class="input-group input-group-lg">
          <div class="selectContainer">
            <select class="form-control" ng-model="ctrl.modelId">
              <option value="" translate>All models</option>
              <option ng-repeat="model in ctrl.models" value="{{model.id}}">{{model | translateLabel}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="col-md-4 search-results">
        <div ng-repeat="class in ctrl.searchResults track by class.id"
             ng-class="['search-result', {selected: ctrl.isSelected(class)}]" ng-click="ctrl.selectClass(class)" key-control-selection>
          <h5>{{class | translateLabel}}</h5>
          <p>{{class.model | translateLabel}}</p>
        </div>
      </div>

      <div class="col-md-4 search-selection">
        <form class="editable-form">
          <class-form ng-if="ctrl.selectedClass" class="ctrl.selectedClass" model="ctrl.model"></class-form>
        </form>
      </div>

    </div>
  </modal-body>

  <modal-buttons>
    <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.close()" translate>Cancel</button>
    <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.confirm()" ng-disabled="!ctrl.selectedClass" translate>Use class</button>
  </modal-buttons>
</modal-template>

