<form id="conceptForm" name="conceptForm">
  <modal-template>
    <modal-title>{{ctrl.defineConceptTitle | translate}}</modal-title>

    <modal-body>
      <div ng-show="ctrl.references.length > 0">

        <label for="reference" translate>Reference</label>
        <div class="input-group input-group-lg">
          <div class="selectContainer">
            <select id="reference" class="form-control" ng-model="ctrl.vocabularyId">
              <option value="" translate>All references</option>
              <option ng-repeat="reference in ctrl.references" value="{{reference.vocabularyId}}">{{reference.label | translateValue}}</option>
            </select>
          </div>
        </div>

        <editable title="Concept">
          <div class="input-group input-group-md">
            <input id="concept"
                   type="text"
                   class="form-control"
                   autofocus
                   iow-typeahead
                   selection-mapper="ctrl.mapSelection"
                   options="ctrl.options"
                   datasets="ctrl.datasets"
                   required
                   ng-model="ctrl.concept"
                   placeholder="{{'Search from concept database' | translate}}"/>
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>
        </editable>

        <label for="concept" translate>Comment</label>
        <p>{{ctrl.concept.comment | translateValue}}</p>

        <div ng-if="ctrl.newCreation">
          <editable title="{{ctrl.labelTitle}}">
            <div class="input-group input-group-md">
              <input id="name" type="text" class="form-control" required string-input="label" ng-model="ctrl.label" />
            </div>
          </editable>
        </div>
      </div>

      <div ng-hide="ctrl.references.length > 0">
        <p translate>Concepts can't be searched because there are no vocabularies</p>
      </div>
    </modal-body>

    <modal-buttons>
      <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
      <button class="btn btn-default" type="button" ng-click="ctrl.create()" ng-show="ctrl.references.length > 0" ng-disabled="!conceptForm.$valid">{{ctrl.buttonTitle | translate}}</button>
    </modal-buttons>
  </modal-template>
</form>
