<form name="form" class="editable-form">
  <modal-template>
    <modal-title>
      <span ng-show="ctrl.typeSelectable" translate>Search attributes and associations</span>
      <span ng-hide="ctrl.typeSelectable">{{('Search ' + ctrl.type + 's') | translate}}</span>
    </modal-title>

    <modal-body>

      <div ng-if="!ctrl.onlySelection">
        <button type="button" class="btn btn-default btn-md pull-right" ng-click="ctrl.createNew('association')" ng-show="ctrl.isAssociationAddable()" style="margin-left: 10px">
          <span class="glyphicon glyphicon-plus"></span>
          {{'Create new association' | translate}}
        </button>

        <button type="button" class="btn btn-default btn-md pull-right" ng-click="ctrl.createNew('attribute')" ng-show="ctrl.isAttributeAddable()">
          <span class="glyphicon glyphicon-plus"></span>
          {{'Create new attribute' | translate}}
        </button>
      </div>

      <div class="row">

        <div class="col-md-4">
          <p translate>Search predicate info</p>
          <div class="input-group input-group-lg">
            <input autofocus type="text" class="form-control"
                   placeholder="{{(ctrl.typeSelectable ? 'search attribute or association' : 'search ' + ctrl.type) | translate}}"
                   ng-model="ctrl.searchText"
                   ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>

          <div class="input-group input-group-lg">
            <div class="selectContainer">
              <select class="form-control" ng-model="ctrl.modelId">
                <option value="" translate>All models</option>
                <option ng-repeat="model in ctrl.models" value="{{model.id}}">{{model | translateLabel}}</option>
              </select>
            </div>
          </div>

          <div class="input-group input-group-lg" ng-if="ctrl.typeSelectable">
            <div class="selectContainer">
              <select class="form-control" ng-model="ctrl.type">
                <option value="" translate>All types</option>
                <option ng-repeat="type in ctrl.types" value="{{type}}">{{type | translate}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-md-4 search-results">
          <div ng-repeat="predicate in ctrl.searchResults() track by predicate.id">
            <div ng-class="['search-result', {selected: ctrl.isSelected(predicate)}]" ng-click="ctrl.selectPredicate(predicate)">
              <i ng-class="predicate.glyphIconClass"></i>
              <h5>{{predicate | translateLabel}}</h5>
              <p>{{predicate.model | translateLabel}}</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 search-selection">
          <predicate-form ng-if="ctrl.selectedPredicate" predicate="ctrl.selectedPredicate" model="ctrl.model"></predicate-form>
          <div class="alert alert-danger" role="alert" ng-show="ctrl.submitError">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span translate>Save failed</span>
          </div>
        </div>

      </div>
    </modal-body>

    <modal-buttons>
      <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.close()" translate>Cancel</button>
      <button type="button" class="btn btn-default btn-lg" ng-hide="ctrl.editing" ng-click="ctrl.usePredicate()" ng-disabled="!ctrl.selectedPredicate">
        {{(!ctrl.typeSelectable ? 'Use ' + ctrl.type : 'Use selection') | translate}}
      </button>
      <button type="button" class="btn btn-default btn-lg" ng-show="ctrl.editing" ng-click="ctrl.createAndUsePredicate()" ng-disabled="form.$invalid || form.$pending">
        {{('Create and use ' + ctrl.selectedPredicate.type) | translate}}
      </button>
    </modal-buttons>
  </modal-template>
</form>
