<form name="form">
  <modal-template editing="false">
    <modal-title>
      <span ng-show="ctrl.typeSelectable" translate>Search attributes and associations</span>
      <span ng-hide="ctrl.typeSelectable">{{('Search ' + ctrl.type + 's') | translate}}</span>
    </modal-title>

    <modal-body>

      <div ng-if="!ctrl.onlySelection">
        <button type="button" class="btn btn-default btn-md pull-right" ng-click="ctrl.createNew('association')" ng-show="ctrl.isAssociationAddable()" style="margin-left: 10px">
          <span class="glyphicon glyphicon-plus"></span>
          {{'Create new association' | translate}}
        </button>

        <button type="button" class="btn btn-default btn-md pull-right" ng-click="ctrl.createNew('attribute')" ng-show="ctrl.isAttributeAddable()">
          <span class="glyphicon glyphicon-plus"></span>
          {{'Create new attribute' | translate}}
        </button>
      </div>

      <div class="row">

        <div class="col-md-4">
          <p translate>Search predicate info</p>
          <div class="input-group input-group-lg">
            <input autofocus type="text" class="form-control"
                   placeholder="{{(ctrl.typeSelectable ? 'search attribute or association' : 'search ' + ctrl.type) | translate}}"
                   ng-model="ctrl.searchText"
                   ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                   key-control="ctrl.searchResults" />
            <i class="glyphicon glyphicon-search form-control-feedback"></i>
          </div>

          <div class="input-group input-group-lg">
            <div class="selectContainer">
              <select class="form-control" ng-model="ctrl.modelId">
                <option value="" translate>All models</option>
                <option ng-repeat="model in ctrl.models" value="{{model.id.uri}}">{{model | translateLabel}}</option>
              </select>
            </div>
          </div>

          <div class="input-group input-group-lg" ng-if="ctrl.typeSelectable">
            <div class="selectContainer">
              <select class="form-control" ng-model="ctrl.type">
                <option value="" translate>All types</option>
                <option ng-repeat="type in ctrl.types" value="{{type}}">{{type | translate}}</option>
              </select>
            </div>
          </div>

          <div class="checkbox">
            <label><input type="checkbox" ng-model="ctrl.showExcluded">{{'Show excluded' | translate}}</label>
          </div>
        </div>

        <div class="col-md-4 search-results">
          <search-results items="ctrl.searchResults" exclude="ctrl.exclude" on-select="ctrl.selectItem(item)">
            <i ng-class="searchResult.glyphIconClass"></i>
            <h5>{{searchResult | translateLabel}}</h5>
            <p>{{searchResult.definedBy | translateLabel}}</p>
          </search-results>
        </div>

        <div class="col-md-4 search-selection editable-form">
          <predicate-form ng-if="ctrl.selectedPredicate" predicate="ctrl.selectedPredicate" old-predicate="ctrl.selectedPredicate" model="ctrl.model"></predicate-form>
          <submit-error-panel error="ctrl.submitError"></submit-error-panel>
        </div>

      </div>
    </modal-body>

    <modal-buttons>
      <div class="alert alert-danger" style="display: inline; margin-right: 10px;" role="alert" ng-show="ctrl.cannotConfirm">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span>{{ctrl.cannotConfirm | translate}}</span>
      </div>
      <button type="button" class="btn btn-default" ng-click="ctrl.close()" translate>Cancel</button>
      <button type="button" class="btn btn-default" ng-hide="ctrl.isEditing()" ng-click="ctrl.usePredicate()" ng-disabled="!ctrl.selectedPredicate || ctrl.cannotConfirm">
        {{(!ctrl.typeSelectable ? 'Use ' + ctrl.type : 'Use selection') | translate}}
      </button>
      <button type="button" class="btn btn-default" ng-show="ctrl.isEditing()" ng-click="ctrl.createAndUsePredicate()" ng-disabled="form.$invalid || form.$pending">
        {{('Create and use ' + ctrl.selectedPredicate.type) | translate}}
      </button>
    </modal-buttons>
  </modal-template>
</form>
