<div ng-if="!ctrl.entity.subject">
  <div class="row">
    <div class="col-md-12">
      <h4 class="pull-left" translate>Concept information</h4>

      <button ng-if="ctrl.isEditing()"
              type="button"
              class="btn btn-default pull-right"
              ng-disabled="!ctrl.entity.inUnstableState"
              ng-click="ctrl.changeSubject()" uib-tooltip="{{'Change concept' | translate}}"><i class="fa fa-repeat"></i></button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="editable-wrap">
        <div translate>Not defined</div>
      </div>
    </div>
  </div>
</div>

<accordion ng-if="ctrl.entity.subject" open-id="subjectViewOpen" >
  <accordion-group>
    <accordion-heading>
      <div class="panel-heading">
        <h4 class="panel-title">
          <span class="accordion-icon" ng-class="ctrl.entity.subject.glyphIconClass"></span>
          <span>{{ctrl.entity.subject | translateLabel: ctrl.model}}</span>
        </h4>
      </div>
    </accordion-heading>

    <accordion-body>

      <div class="row" ng-if="ctrl.isEditing()">
        <div class="col-md-12">
          <button type="button"
                  class="btn btn-default pull-right"
                  ng-disabled="!ctrl.entity.inUnstableState"
                  ng-click="ctrl.changeSubject()" uib-tooltip="{{'Change concept' | translate}}"><i class="fa fa-repeat"></i></button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <non-editable ng-if="!ctrl.entity.subject.suggestion" data-title="Concept definition" value="ctrl.entity.subject.comment" context="ctrl.model"></non-editable>
          <non-editable ng-if="ctrl.entity.subject.suggestion" data-title="Concept suggestion definition" value="ctrl.entity.subject.comment" context="ctrl.model"></non-editable>
        </div>
      </div>

      <div class="row" ng-if="!ctrl.entity.subject.legacy">
        <div class="col-md-12">
          <non-editable-vocabulary vocabularies="ctrl.entity.subject" context="ctrl.model"></non-editable-vocabulary>
        </div>
      </div>

    </accordion-body>
  </accordion-group>
</accordion>
