<div class="component">
  <div class="component-header">
    <h3>
      <i class="fa fa-share-alt-square" aria-hidden="true"></i>
      <span translate>Visualization</span>
      <span class="glyphicon glyphicon-resize-full pull-right collapsable" ng-hide="!ctrl.selection || ctrl.show === 2" ng-click="ctrl.enlargeVisualization()"></span>
      <span class="glyphicon glyphicon-resize-small pull-right collapsable" ng-hide="!ctrl.selection || ctrl.show === 1" ng-click="ctrl.shrinkVisualization()"></span>
    </h3>
  </div>

  <class-visualization model="ctrl.model" selection="ctrl.selection" change-notifier="ctrl.changeNotifier"></class-visualization>
</div>
