/* app css stylesheet */

// Note: ~ tells webpack to look-up the modulesDirectories
// See also: https://github.com/jtangelder/sass-loader/issues/40
$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

$gray-base:             #222;
$gray-darker:           lighten($gray-base, 13.5%);
$gray-dark:             lighten($gray-base, 20%);
$gray:                  #6f6f6f;
$gray-light:            lighten($gray-base, 60%);
$gray-lighter:          lighten($gray-base, 93.5%);

$brand-primary:         #375e97;
$brand-success:         #43ac6a;
$brand-info:            #5bc0de;
$brand-warning:         #E99002;
$brand-danger:          #D32F2F;

$navbar-margin-bottom:  0 !default;
$navbar-default-bg:     $brand-primary !default;

$brand-accent-lighter:  #ebeff2;
$brand-accent-light:    #7e9cad;
$brand-accent-dark:     #375e97;

@import './mixin';
@import '../vendor/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
@import '../vendor/bootswatch';
@import '../../node_modules/jointjs/dist/joint.css';

[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input[type=checkbox][disabled] + span {
  text-decoration: line-through;
}

$selectionListWidth: 275px;
$versionListWidth: 400px;
$footer-height: 50px;

.emphasized-text {
  color: $brand-accent-dark;
}

.brand-primary-bg {
  background-color: $brand-primary
}

editable-state-select {
  i.danger { color: $brand-danger; }
  i.warning { color: $brand-warning; }
  i.success { color: $brand-success; }

  .non-editable {
    vertical-align: middle;
    line-height: 2.6;
    padding: 0 5px 0 5px;
  }
}

reference-data-view.popup {

  h4 { display: none; }

  max-height: calc(100vh - 250px);
  width: 100%;
  overflow-y: auto;
  display: inline-block;
}

.search-filters {

  margin-right: 0;
  margin-left: 0;
  background-color: #fff;
  border: 1px #ddd solid;
  box-shadow: none;
  position: relative;
  padding: 45px 15px 15px;

  span.title {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

autocomplete, iow-select {
  .caret {
    float: right;
    margin-top: 10px;

    &.ng-hide {
      display: inherit !important;
      visibility: hidden;
    }
  }

  .dropdown-menu {
    max-height: 400px;
    overflow-y: scroll;
  }
}

iow-select {
  @include no-select;
  cursor: default;
}

table.editable-table {

  a:hover {
    cursor: pointer;
  }

  [draggable=true] {
    cursor: move;
  }

  tr {
    &.collapsed {
      visibility: collapse;
      line-height: 0;

      td {
        padding-top: 0;
        padding-bottom: 0;
        border: 0;
        line-height: 0;
      }
    }

    &.dragged {
      background-color: $body-bg;
      border: 1px dashed $alert-warning-border;

      td {
        span { color: $body-bg };
        a { color: $body-bg };
        border-top: 1px dashed $alert-warning-border;
        border-bottom: 1px dashed $alert-warning-border;
      }

      &.droppable {
        border-color: black;
        td {
          border-color: black;
        }
      }
    }
  }

  td.prefix, th.prefix {
    width: 100px;
  }

  th.action {
    width: 20px;
  }

  td.action {
    width: 20px;

    i {
      visibility: hidden;
      line-height: 0;
    }

    &.editable {
      cursor: pointer;

      i {
        visibility: inherit;
        line-height: inherit;
      }
    }

    &:hover {
      color: $brand-primary;
    }
  }

  tfoot.expander {
    text-align: center;
    cursor: pointer;
    font-size: medium;

    &:hover {
      background-color: #f5f5f5;
    }

    td {
      padding: 0;
      border-top: 1px solid #ddd;
      line-height: 1;
    }
  }

}

.fa.info {
  color: $brand-primary;
  font-size: small;
}

.modal.fade {
  // IE11 autofocus fix by removing slide animation
  transition:opacity .3s linear;
}

.collapsing {
  -webkit-transition: height .15s ease-in-out;
  -o-transition: height .15s ease-in-out;
  transition: height .15s ease-in-out;
}

.btn-group.right .dropdown-menu {
  right: 0;
  left: auto;
}

.panel-footer {
  position: fixed;
  bottom: 0;
  height: $footer-height;
  width: 100%;
  font-size: small;
  border: none;
  padding: 15px;
  background-color: $brand-primary;
  color: white;
  border: 0;
  a {
    color: white;
  }
}

.btn-default {
  color: white;
  background-color: $brand-accent-light;
  border: 1px solid $brand-accent-light;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
  color: white;
  background-color: $brand-accent-dark;
  border: 1px solid $brand-accent-light;
}

.btn-link {
  color: $brand-primary;
}

model-form p {
  margin-bottom:  21px;
}

.multi-input {
  border: 1px solid #ccc;
  height: auto !important;
  min-height: calc(#{$input-height-base} - 3px);
  padding: 0;
  display: inline-block;
  margin-bottom: -5px;

  [draggable=true] {
    cursor: move;
  }

  .added-item {

    display: inline-block;
    float: left;

    .drop-target {
      width: 5px;
      margin-top: 5px;
      height: 25px;
      display: inline-block;
      float: left;


      &.visible {
        border: 1px dashed #000000;
      }

      &.active {
        background-color: #000000;
      }
    }

    .box {
      padding: 5px 4px;
      margin: 5px 0 0 5px;
      line-height: 12px;
      font-size: 12px;
      background-color: #f5f5f5;
      border-radius: 2px;
      border: 1px solid #ddd;
      display: inline-block;
      float: left;

      &.dragged.droppable {
        border-color: black;
      }

      &.dragged {
        background-color: $body-bg;
        border: 1px dashed $alert-warning-border;
        color: $body-bg;

        .delete-item {
          background-color: $body-bg;
          color: $body-bg;
        }
      }

      &.has-error {
        border-color: $state-danger-text;
      }

      .delete-item {
        display: inline-block;
        cursor: pointer;
        padding: 0 2px;
        background-color: $btn-default-border;
        margin-left: 5px;
      }

      .delete-item:hover {
        background-color: $btn-default-color;
      }
    }
  }

  input {
    display: inline-block;
    float: left;
    height: 37px;
    padding: 0 12px 0 12px;
    border: 0;
  }

  input:focus {
    outline: 0;
    box-shadow: 0;
  }
}

ul.errors {
  border-left: 5px solid $state-danger-text;
  padding-left: 15px;
  margin-bottom: 0;

  li {
    list-style-type: none;
  }

  li:before {
    content: '\b7\a0';
  }
}

.link {
  color: $link-color;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}


// TODO redundancy with model-panel--left
.version-panel--left {
  width: $versionListWidth;
  float: left;
  border-right: solid 1px #ddd;

  ul.nav {
    margin-right: 0;
    padding: 9px 0;
  }

  .panel__list {
    height: calc(100vh - 200px);
    overflow-y: auto;

    li {
      cursor: pointer;
      padding: 5px 0 5px 10px;
      font-size: medium;
    }

    li:hover {
      color: $brand-primary;
      background-color: $list-group-hover-bg;
    }
  }
}

.version-panel--right {
  float: right;
  width: calc(100% - #{$versionListWidth});
  height: calc(100vh - 200px);
  overflow-y: auto;
  padding: 0 20px 20px 20px;

  >.col-md-1, >.col-md-5, >.col-md-7, >.col-md-11, >.col-md-12 {
    padding: 0 0 0 10px;
  }
}

.model-panel--left-placeholder {
  float: left;
}

.model-panel--left {
  width: $selectionListWidth;
  float: left;
  border-right: solid 1px #ddd;
  background-color: #fff;

  .tab-pane {
    border-bottom: solid 1px #ddd;
  }

  .nav-tabs {

    border-bottom: none;

    li {

      width: 33%;

      > a {
        padding: 10px 0 0 0;
        background-color: $brand-accent-lighter;
      }
    }

    li.active {
      > a {
        background-color: white;
      }
    }

  }

  ul.nav {
    margin-right: 0;
    padding: 9px 0;
  }

  .add-new-button {
    margin: 3px 9px 9px 9px;
    width: calc(100% - 23px);
  }

  uib-tab-heading {
    i {
      width: 100%;
      padding-right: 2px;
      text-align: center;
      font-size: x-large;
    }
    p {
      width: 100%;
      text-align: center;
      font-size: x-small;
    }
  }

  .panel__list {
    height: calc(100vh - 95px);
    overflow-y: auto;

    &.has-button {
      height: calc(100vh - 146px);
    }

    li {
      cursor: pointer;
      padding: 5px 0 5px 10px;
      font-size: medium;

    }

    li:hover {
      color: $brand-primary;
      background-color: $list-group-hover-bg;
    }
  }
}

.model-panel--right {
  float: right;
  width: calc(100% - #{$selectionListWidth});
  min-height: 100vh;
  padding: 10px 0;

  >.col-md-1, >.col-md-5, >.col-md-7, >.col-md-11, >.col-md-12 {
    padding: 0 0 0 10px;
  }
}

.model-panel__selection {
  background-color: $list-group-hover-bg;
}

uib-accordion,accordion .panel-group {
  margin: 15px auto;

  .panel {
    .panel-heading {
      background-color: $brand-accent-lighter;
      padding: 8px 20px 8px 20px;
      cursor: pointer;
    }
  }

  .panel-title {
    a:hover {
      text-decoration: none;
    }
    a {
      text-decoration: none;
    }
  }

  .dragged {
    background-color: $body-bg !important;
    color: $body-bg;
    border: 1px dashed $alert-warning-border;

    &.droppable {
      border-color: black;
    }
  }
}

.accordion-icon {
  margin-right: 10px;
}

a {
  cursor: pointer;
}

$input-max-width: 500px;
$input-select: 80px;

.input-select {
  width: $input-select;
}

.range-input {

  @include clearfix;

  editable {
    float: left;
    width: calc(50% + 7.5px);
    max-width: calc(#{$input-max-width} / 2 + 7.5px);
    padding-right: 15px;
  }

  editable:last-child {
    width: calc(50% - 7.5px);
    max-width: calc(#{$input-max-width} / 2 - 7.5px);
    padding-right: 0;
  }
}

.editable-wrap {

  word-wrap: break-word;
  margin-bottom: 15px;

  label {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    display: block;
  }

  .glyphicon {
    position: inherit;
  }

  input, select, textarea {
    width: 100%;
  }

  button {
    margin-top: 10px;
  }

  textarea {
    height: 117px;
  }

  .content {
    padding-right: 10px;
  }

  .form-control {
    max-width: $input-max-width;

    &.with-button {
      max-width: calc(#{$input-max-width} - #{$input-select});
      width: calc(100% - #{$input-select});
    }
  }
}

modal-body {
  .editable-wrap {

    .form-control {
      max-width: inherit;

      &.with-button {
        max-width: calc(100% - #{$input-select});
        width: calc(100% - #{$input-select});
      }
    }
  }
}

.model-view__sub {
  @include clearfix;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 5px;
  &.row {
    border-top: 1px solid $brand-accent-lighter;
  }
}

.breadcrumb {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-left: 25px;
  padding-top: 15px;
  border: none;
  font-weight: 400;
  background-color: white;
}

.component {
  border-right: solid 1px #ddd;

  .collapsable {
    font-size: large;
  }

  .collapsable:hover {
    color: $brand-primary;
    cursor: pointer;
  }

  .selection-form {
    min-height: calc(100vh - 134px);
    padding-right: 40px;
    max-width: 1100px;

    property-view .row {
      padding-right: 10px;
    }

    .property-ordering {
      position: absolute;
      left: 50%;

      span {
        font-size: xx-small;
      }
      span:hover {
        color: $brand-primary;
      }

      .glyphicon-chevron-up {
        position: absolute;
        top: -25px;
        color: #bbb;
      }

      .glyphicon-chevron-down {
        position: absolute;
        top: -5px;
        color: #bbb;
      }
    }
  }
}

.visualization-container {

  display: inline-block;
  width: 100%;
  height: calc(100vh - 85px);
  overflow: hidden;
  $enabledColor: #bbb;

  .paper {
    z-index: 10;
  }

  .visualization-buttons {

    position: absolute;
    z-index: 20;
    padding-top: 10px;

    button:focus {
      outline:0;
    }

    .focus-indicator {
      @include no-select;
      display: inline-block;
      height: 28px;
      width: 30px;
      background-color: $brand-accent-light;
      border: 1px solid $brand-accent-light;
      color: white;
      text-align: center;
      padding-top: 1px;
      margin-left: -4px;
      margin-right: -4px;
    }
  }

  .enabled {
    background-color: $enabledColor;
  }

  .link-tools .tool-remove { display: none }
  .link-tools .tool-options { display: none }
  .link .mark-errors { display: none; }
  .marker-arrowheads { display: none; }
  .uml-class-methods-rect { display: none }

  text {
    font-family: $font-family-base;
    font-weight: normal;
  }

  .uml-class-name-text {
    fill: #fff;
  }

  .uml-class-name-rect {
    fill: $brand-primary;
    stroke: none;
  }

  .uml-class-attrs-rect {
    fill: #f5f5f5;
    stroke: #ddd;
    stroke-width: 1px;
  }

  .element.uml.Class {
    &.background {
      fill-opacity: 0.3;
    }

    > g.shadow .uml-class-name-rect {
      fill: $gray;
    }

    &.selected {
      .uml-class-name-rect {
        fill: #c2606e;
      }
    }
  }

  .link.background {
    fill-opacity: 0.3;

    path {
      stroke: #ddd;
    }
  }
}

visualization-view ajax-loading-indicator {
  width: calc(100% - 12px);
}

.search-results ajax-loading-indicator {
  width: calc(100% - 30px);
}

ajax-loading-indicator {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: #ffffff;

  &.inline {
    position: inherit;

    .uil-default-css, img {
      position: relative;
      display: inline-block;
      top: inherit;
      left: calc(50% - 100px);
      margin: inherit;
    }
  }

  .uil-default-css, img {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    margin: 0 auto;
  }
}

ajax-loading-indicator-small {
  float: right;
  padding-right: 10px
}

.selection-form {
  padding: 15px;
}

.component-header {
  background-color: $brand-accent-lighter;
  padding: 15px;
  border-bottom: solid 1px #ddd;
  font-size: 26px;
  h3 {
    margin: 0;
  }
  i {
    font-size: xx-large;
  }
}

.main-header {
  background-color: $brand-accent-lighter;
  padding: 5px 0 5px 5px;

  h2 {
    padding-left: 10px;
    margin-top: 10px;
    .glyphicon {
      font-size: large;
      margin-left: 10px;
    }
  }
}

.fa-user, .fa-users {
  margin-right: 15px;
}

.model-header {
  @extend .main-header;
  cursor: pointer;
}

.main-editable-content {
  @include clearfix;
  padding-bottom: 10px;
}

.modal-dialog {
  &.modal-large {
    width: 90%;
  }
  &.modal-medium {
    width: 60%;
  }
  &.modal-small {
    width: 30%;
  }
  &.modal-adapting {
    width: auto;
    min-width: 30%;
    display: table;
  }
  &.modal-adapting-medium {
    width: auto;
    min-width: 75%;
    display: table;
  }
}

.modal-header i {
  color: $gray-base;
  cursor: pointer;
}

.modal-header {
  border-bottom: none;
}

.modal-header-confirm {
  border-bottom: 1px solid;
}

.modal-header-normal {
  color: white;
  border-color: darken($brand-primary, 5%);
  background-color: $brand-primary;

  i {
    color: white;
  }
}

.modal-header-warning {
  color: $alert-warning-text;
  border-color: $alert-warning-border;
  background-color: $alert-warning-bg;

  i {
    color: $alert-warning-text;
  }
}

.modal-header-danger {
  color: $alert-danger-text;
  border-color: $alert-danger-border;
  background-color: $alert-danger-bg;

  i {
    color: $alert-danger-text;
  }
}

.modal-footer {
  border-top: none;
}

.bottom {
  border-top: solid 1px #ddd;
}

.nav {
  a:hover {
    cursor: pointer;
  }
}

.navbar {
  min-height: 60px;
}

.navbar-header {
  padding-left: 15px;
  padding-top: 10px;
  div {
    float: left;
    line-height: 46px;
  }
  span {
    color: white;
    margin-left: 20px;
    font-size: 24px;
    font-weight: 300;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
}

.navbar-right {
  margin: 10px;

  .navbar-btn {
    margin: 0;
    padding: 0;
    background: transparent;

    button.btn {
      color: $navbar-default-brand-color;
      background: transparent;
      border: 0;
      font-weight: inherit;
      font-size: inherit;
      padding: 12px;
      line-height: 21px;
    }

    button.btn:hover {
      background-color: black;
      color: #ffffff;
      border: 0;
    }
  }
}

.navbar-default .navbar-nav > li > a:hover {
  background-color: $brand-accent-dark;
  text-decoration: none;
}

.navbar-right .navbar-btn button.btn:hover, .navbar-right .navbar-btn button.btn:focus {
  background-color: $brand-accent-dark;
  text-decoration: none;
  color: white;
}

.h2 {
  background-color: #f5f5f5;
}

.top-actions-placeholder {
  z-index: 1000;
}

modal-body {
  .top-actions {
    padding: 0 0 10px 0;
  }
}

.top-actions {
  @include clearfix;

  background-color: white;
  padding: 10px 10px 10px 10px;

  p.button-label {
    padding-top: 8px;
  }

  .left {
    float: left;
    margin-right: 5px;
  }

  .right {
    float: right;
    margin-left: 5px;
  }

  .alert {
    clear: both;
  }
}

modal-body {

  .empty-message {
    padding: 3px 20px;
    a {
      cursor: pointer;
    }
  }

  .tt-menu {
    max-height: 400px;
    overflow-y: auto;
  }

  .details {
    font-size: x-small;
  }

  > p {
    max-width: 600px;
  }

  .input-group {
    width: 100%;
    padding-bottom: 20px;
  }

  textarea {
    height: 118px;
  }

  .search-selection {
    height: calc(100vh - 300px);
    overflow-y: auto;
  }

  .search-results {

    height: calc(100vh - 260px);

    &.with-button {
      height: calc(100vh - 315px);
    }

    overflow-y: auto;

    .search-result {
      font-size: small;
      cursor: pointer;
      border: 1px solid $gray-light;
      margin-bottom: 10px;
      padding-left: 10px;
      box-shadow: 2px 2px 2px $brand-accent-light;

      &.add-new {
        color: white;
        background-color: $brand-accent-light;
        border: 1px solid $brand-accent-dark;
      }

      &.disabled {
        background-color: whitesmoke;
        color: #a5a5a5;
        cursor: not-allowed;
      }

      &.selected {
        color: inherit;
        background-color: $brand-accent-lighter;
        border: 1px solid $brand-accent-dark;
        box-shadow: 2px 2px 2px $brand-accent-dark;
      }

      &.selection {
        border: 1px solid black;
        box-shadow: 2px 2px 2px black;
      }

      i {
        float: right;
        padding: 5px;
        line-height: 5px;
      }
    }
  }
}

a.accordion-toggle {
  outline: 0;
}

.main {
  @include clearfix;
  padding: 10px;

  &.with-footer {
    margin-bottom: $footer-height;
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

.iow-breadcrumb {
  &.with-breadcrumb {
    display: none;
  }
}

.frontpage-container {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
}

.frontpage-text-container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  h3 {
    color: $brand-primary;
  }
}

#frontpage-image {
  height: 540px;
}

.main-functions-row {
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0 -10px 30px -10px;
}

#logo-image {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.main-content-row {
  padding-top: 30px;
  margin-bottom: 40px;
  line-height: 1.15!important;
  span {
    font-size: 14px;
  }
  blockquote {
    padding-top: 0;
    padding-left: 20px;
    margin-bottom: 20px;
    color: #666666;
    border-left-width: 5px;
    border-color: $brand-accent-lighter;
  }
}

.main-bottom-row {
  padding-top: 30px;
  padding-bottom: 150px;
  background-color: $brand-accent-lighter;
  margin: 0 -10px 0 -10px;
}

.iow-panel {
  @extend .panel;
  @extend .panel-default;
  overflow: hidden;
}

.frontpage-panel {
  @extend .iow-panel;
  margin-top: 21px;
  min-height: 190px;
  .iow-panel-heading {
    h3 {
      margin-top: 5px;
      margin-bottom: 4px;
    }
  }
}

.group-panel {
  @extend .iow-panel;
  margin-top: 30px;
}

.iow-panel-heading {
  @extend .panel-heading;
  h2 {
    margin: 5px;
  }
  border: none;
  background-color: $brand-accent-lighter!important;
}

.point {
  @include clearfix;
  margin-top: 40px;

  $bullet-width: 100px;

  .content {
    padding-left: 20px;
    width: calc(100% - #{$bullet-width});
    float: left;
  }

  .bullet-container {
    float: left;
    width: $bullet-width;
    padding-top: 10px;
    padding-left: 10px;

    .bullet {
      text-align: center;
      vertical-align: text-bottom;
      border: 1px solid #ddd;;
      border-radius: 60px;
      padding: 0;
      background-color: #f5f5f5;

      span {
        display: inline-block;
        padding: 35px 40px;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.frontpage-panel__body {
  @extend .panel-body;

  .input-group {
    width: 100%;
    padding-bottom: 30px;

    .glyphicon {
      font-size: x-large;
    }
  }

  .advanced-search {
    top: -20px;
    position: relative;
  }
}

.panel__list {
  list-style: none;
  padding: 0;
  margin: 0;
  p {
    font-size: small;
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.selectable-panel__list {
  @extend .panel__list;
  max-height: 400px;
  overflow-y: auto;
  margin: -15px;
  li {
    cursor: pointer;
    padding: 10px 20px;
  }
  li:hover {
    text-decoration: none;
    background-color: $list-group-hover-bg;
  }
  li.selection {
    background-color: $list-group-hover-bg;
  }
  .link {
    text-decoration: none;
  }
  .glyphicon {
    margin-right: 7px;
  }
}

a.accordion-toggle {
  display: block;
}

// fix weird ui-bootstrap bug
.panel-collapse.in {
  height: auto !important;
}
