// inspired by https://github.com/DaftMonk/angular-tour/blob/master/src/tour/tour.scss

body.overlay-open {
  overflow: hidden;
}

help-popover-dimensions-calculator {
  visibility: hidden;
}

help-popover {
  transition: all 0.3s ease-out;

  .help-content-wrapper {
    display: inline-block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

help-popover, help-popover-dimensions-calculator {
  display: block;
  position: absolute;
  background: #1C252E;
  color: #FFF;
  z-index: 1052;
  top: 0;
  left: 0;
  font-family: inherit;
  font-weight: 400;
  max-width: 500px;
  min-width: 100px;
  border-radius: 10px;

  p {
    color: #CBD0D4;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 0 1.125em;
    max-height: 500px;
  }

  button, .button {
    background-color: #189DAF;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    transition: background-color 300ms ease-out;
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    line-height: 1;
    position: relative;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    font-size: .8em;
    color: #FFF;
    border: 0 solid;
    margin: 0 0 1.25em;
    padding: .5em 1.25em .6em;
    border-radius: 8px;

    small {
      padding-top: .625em;
      padding-bottom: .5625em;
      -webkit-appearance: none;
    }

    &[disabled] {
      opacity: 0.65;
      cursor: not-allowed;
    }

    &:hover:not([disabled]) {
      background-color: #0A87A1;
    }

    &:focus {
      outline:0;
    }
  }

  .help-arrow {

    &.help-top-right {
      border-style: solid;
      bottom: -27px;
      border-color: #1C252E transparent transparent !important;
    }

    &.help-top-left {
      border-style: solid;
      bottom: -27px;
      left: calc(100% - 34px);
      border-color: #1C252E transparent transparent !important;
    }

    &.help-bottom-right {
      border-style: solid;
      top: -28px;
      border-color: transparent transparent #1C252E !important;
    }

    &.help-bottom-left {
      border-style: solid;
      top: -28px;
      left: calc(100% - 35px);
      border-color: transparent transparent #1C252E !important;
    }

    &.help-right-down {
      border-style: solid;
      left: -27px;
      top: 8px;
      border-color: transparent #1C252E transparent transparent !important;
    }

    &.help-right-up {
      border-style: solid;
      left: -27px;
      bottom: 7px;
      border-color: transparent #1C252E transparent transparent !important;
    }

    &.help-left-down {
      border-style: solid;
      left: 100%;
      top: 8px;
      border-color: transparent transparent transparent #1c252e !important;
    }

    &.help-left-up {
      border-style: solid;
      left: 100%;
      bottom: 7px;
      border-color: transparent transparent transparent #1c252e !important;
    }

    display: block;
    position: absolute;
    left: 22px;
    width: 0;
    height: 0;
    border: inset 14px;
  }

  .help-content-wrapper {

    padding: 1.125em 1.25em 1.5em;

    .button {
      margin-bottom: 0 !important;
    }
  }

  .help-close {
    position: absolute;
    right: 12px;
    top: 10px;
    color: #fff !important;
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    line-height: .5 !important;
    cursor: pointer;

    &:hover, &:focus {
      color: #eee !important;
    }
  }
}

.help-backdrop {
  position: fixed;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1051; // modal is 1050
  cursor: not-allowed;
}

.modal.over-help {
  z-index: 1060 !important;
}
