<editable-form on-submit="ctrl.updateAssociation()" on-reset="ctrl.resetModel()">

  <div class="top-actions" float="top-actions-placeholder" top-offset="8">
    <editable-form-buttons></editable-form-buttons>
    <show-submit-error></show-submit-error>
  </div>

  <h2>
    <form-input content="ctrl.association.label"></form-input>
  </h2>
  <form-id title="{{'Id' | translate}}" plain-text="ctrl.association['@id']"></form-id>
  <form-text-area title="{{'Comment' | translate}}" content="ctrl.association.comment"></form-text-area>
  <range-select content="ctrl.association.range"></range-select>
  <div class="model-view__title" translate>Is defined by</div>
  <div>{{ctrl.association.isDefinedBy}}</div>
</editable-form>
