<editable-form on-submit="ctrl.updateAttribute()" on-reset="ctrl.resetModel()" ng-hide="ctrl.loading">

  <div class="top-actions" float="top-actions-placeholder" float-top="8">
    <editable-form-buttons></editable-form-buttons>
    <show-submit-error></show-submit-error>
  </div>

  <h2>
    <form-input content="ctrl.attribute.label"></form-input>
  </h2>
  <form-id title="{{'Id' | translate}}" plain-text="ctrl.attribute['@id']"></form-id>
  <form-text-area title="{{'Comment' | translate}}" content="ctrl.attribute.comment"></form-text-area>
  <range-select content="ctrl.attribute.range"></range-select>
  <div class="model-view__title" translate>Is defined by</div>
  <div>{{ctrl.attribute.isDefinedBy}}</div>
</editable-form>
