<editable-form>
  <h2>
    <form-input content="class.label"></form-input>
  </h2>
  <div ng-show="class.subClassOf">
    <div class="model-view__title">Superclass</div>
    <div>{{class.subClassOf}}</div>
  </div>
  <div class="model-view__title">Is defined by</div>
  <div>{{class.isDefinedBy}}</div>
  <form-input title="{{'Description' | translate}}" content="class.comment"></form-input>
  <form-input title="{{'PrefLabel' | translate}}" content="class.prefLabel"></form-input>
</editable-form>
<button type="button" class="btn btn-default" ng-click="addProperty()" ng-if="isLoggedIn()">Add property</button>
<accordion close-others="false">
  <accordion-group ng-repeat="property in class.property" is-open="isOpen[property['@id']]">
    <accordion-heading>{{property | translateLabel}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen[property['@id']], 'glyphicon-chevron-right': !isOpen[property['@id']]}"></span></accordion-heading>
    <property-view property="property" context="context" ng-if="isOpen[property['@id']]"></property-view>
  </accordion-group>
</accordion>
