<form editable-form name="form" onbeforesave="formController.onbeforesave({$data: $data})" onaftersave="formController.onaftersave()">
  <div ng-transclude></div>
  <div ng-if="formController.isLoggedIn()">
    <button type="button" class="btn btn-default" ng-click="formController.show()" ng-show="!formController.visible()" translate>Edit</button>
    <button type="submit" class="btn btn-default" ng-show="formController.visible()" translate>Save</button>
    <button type="button" class="btn btn-default" ng-click="formController.cancel()" ng-show="formController.visible()" translate>Cancel</button>
  </div>
</form>
