<div>

  <!-- TODO: localization -->

  <h2>Kirjautuminen</h2>

  <p>Palveluun kirjaudutaan eDuuni-tunnuksilla. Kirjautumista vaaditaan jos haluat muokata palvelun sisältöä.</p>
  <p>Alla olevalla painikkeella ohjaudut eDuuni-palvelun kirjautumiseen. Palaa sen jälkeen takaisin palveluun.</p>

  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.login()">Kirjaudu</button>
  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.register()">Luo tunnukset</button>
  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.fakeLogin()">Fake</button>
</div>
