<div ng-if="!ctrl.loading">

  <div class="top">
    <model-view model="ctrl.model"></model-view>
  </div>

  <div class="bottom">
    <div class="model-panel--left" float="model-panel--left-placeholder">
      <uib-tabset>

        <uib-tab active="ctrl.activeTab['class']">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-list-alt"></i><p>{{'Classes' | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.isLoggedIn()" type="button" class="btn btn-default btn-md add-class-button" ng-click="ctrl.addClass()" translate>Add class</button>

          <ul class="panel__list" window-height padding="93" logged-in-padding="150">
            <li ng-repeat="class in ctrl.classes | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected('class', class['@id'])}"
                ng-click="ctrl.select('class', class['@id'])">
              {{class | translateLabel}}
            </li>
          </ul>
        </uib-tab>
        <uib-tab active="ctrl.activeTab['attribute']">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-tasks"></i><p>{{'Attributes' | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.isLoggedIn()" type="button" class="btn btn-default btn-md add-class-button" ng-click="ctrl.addPredicate('owl:DatatypeProperty')" translate>Add attribute</button>

          <ul class="panel__list" window-height padding="93" logged-in-padding="150">
            <li ng-repeat="attribute in ctrl.attributes | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected('attribute', attribute['@id'])}"
                ng-click="ctrl.select('attribute', attribute['@id'])">
              {{attribute | translateLabel}}
            </li>
          </ul>
        </uib-tab>
        <uib-tab active="ctrl.activeTab['association']">
          <uib-tab-heading>
            <i class="glyphicon glyphicon-sort"></i><p>{{'Associations' | translate}}</p>
          </uib-tab-heading>

          <button ng-show="ctrl.isLoggedIn()" type="button" class="btn btn-default btn-md add-class-button" ng-click="ctrl.addPredicate('owl:ObjectProperty')" translate>Add association</button>

          <ul class="panel__list" window-height padding="93" logged-in-padding="150">
            <li ng-repeat="association in ctrl.associations | orderByLabel"
                ng-class="{'model-panel__selection': ctrl.isSelected('association', association['@id'])}"
                ng-click="ctrl.select('association', association['@id'])">
              {{association | translateLabel}}
            </li>
          </ul>
        </uib-tab>
      </uib-tabset>
    </div>

    <div class="model-panel--right" window-height="min">
      <class-view id="ctrl.selected.id" ng-if="ctrl.selected.type === 'class'"></class-view>
      <predicate-view id="ctrl.selected.id" type="{{ctrl.selected.type}}" ng-if="ctrl.selected.type !== 'class'"></predicate-view>
    </div>
  </div>

</div>
