$navbarWidth: 300px;

.model-panel--left {
  width: $navbarWidth;
  float: left;
}

.model-panel--right {
  float: left;
  width: calc(100% - #{$navbarWidth});
}

.model-panel__selection {
  background-color: $list-group-hover-bg;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: $pre-border-color;
}

accordion .panel-group {
  width: 80%;
  margin: 20px auto;
}

.model-view__title {
  font-weight: bold;
}
