<h2>
  {{model | translateLabel}}
</h2>

<editable-form>
  <form-input title="{{'Label' | translate}}" content="model.label"></form-input>
  <form-input title="{{'Comment' | translate}}" content="model.comment"></form-input>
  <div class="model-view__title" translate>Id</div>
  <div>{{model['@id']}}</div>
</editable-form>

<references-view references="model.references"></references-view>

<div class="model-panel--left">
  <uib-tabset>
    <uib-tab heading="{{'Classes' | translate}}">
      <ul class="panel__list">
        <li ng-repeat="class in classes | orderByLabel"
            ng-class="activeClass == $index ? 'model-panel__selection' : ''"
            ng-click="activateClass(class, $index)">
          {{class | translateLabel}}
        </li>
      </ul>
    </uib-tab>
    <uib-tab heading="{{'Attributes' | translate}}">
      <h3>Attributes</h3>
      <ul class="panel__list">
        <li ng-repeat="attribute in attributes | orderByLabel"
            ng-class="activeAttribute == $index ? 'model-panel__selection' : ''"
            ng-click="activateAttribute(attribute, $index)">
          {{attribute | translateLabel}}
        </li>
      </ul>
      <h3>Associations</h3>
      <ul class="panel__list">
        <li ng-repeat="association in associations | orderByLabel"
            ng-class="activeAssociation == $index ? 'model-panel__selection' : ''"
            ng-click="activateAssociation(association, $index)">
          {{association | translateLabel}}
        </li>
      </ul>
    </uib-tab>
  </uib-tabset>
</div>
<div class="model-panel--right">
  <class-view class-id="class['@id']" ng-if="class"></class-view>
  <attribute-view attribute="attribute" ng-if="attribute"></attribute-view>
  <association-view association="association" ng-if="association"></association-view>
</div>
