<div class="model-view__title" translate>Name</div>
<div>{{property | translateLabel}}</div>
<div ng-show="property.comment">
  <div class="model-view__title" translate>Description</div>
  <div>{{property.comment | translateValue}}</div>
</div>
<div class="model-view__title" translate>Type</div>
<div>{{property['@type']}}</div>
<div class="model-view__title" translate>Range</div>
<div>{{property.range}}</div>
<editable-form>
  <form-input title="{{'Datatype' | translate}}" content="property.datatype" ng-if="property['@type'] == 'owl:DatatypeProperty'"></form-input>
  <form-input title="{{'Value class' | translate}}" content="property.valuesClass" ng-if="property['@type'] == 'owl:ObjectProperty'"></form-input>
</editable-form>
