<div>
  <form-input title="{{'Name' | translate}}" content="property.label"></form-input>
  <form-input title="{{'Description' | translate}}" content="property.comment"></form-input>
  <form-input title="{{'Example' | translate}}" content="property.example"></form-input>
  <form-select title="{{'Datatype' | translate}}" content="property.dataType" ng-if="predicate['@type'] == 'owl:DatatypeProperty'" values="attributeValues"></form-select>
  <form-input title="{{'Value class' | translate}}" plain-text="property.valuesClass" ng-if="predicate['@type'] == 'owl:ObjectProperty'"></form-input>
  <uib-accordion>
    <uib-accordion-group is-open="isOpen[property.predicate]">
      <uib-accordion-heading>{{property.predicate}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen[property.predicate], 'glyphicon-chevron-right': !isOpen[property.predicate]}"></span></uib-accordion-heading>
      <predicate-view predicate="predicate" ng-if="isOpen[property.predicate]"></predicate-view>
    </uib-accordion-group>
  </uib-accordion>
  <button ng-show="classViewController.isEditing()" type="button" class="btn btn-default btn-lg" ng-click="classViewController.deleteProperty(property)" translate>Poista</button>
</div>
