<div>
  <editable-form>
    <form-input title="{{'Name' | translate}}" content="property.label"></form-input>
    <form-input title="{{'Description' | translate}}" content="property.comment"></form-input>
    <form-input title="{{'Example' | translate}}" content="property.example"></form-input>
    <div ng-if="property.datatype">
      <div class="model-view__title" translate>Datatype</div>
      <div>{{property.datatype}}</div>
    </div>
  </editable-form>
  <accordion>
    <accordion-group is-open="isOpen[property.predicate]">
      <accordion-heading>{{property.predicate}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen[property.predicate], 'glyphicon-chevron-right': !isOpen[property.predicate]}"></span></accordion-heading>
      <predicate-view predicate="property.predicate" context="context" ng-if="isOpen[property.predicate]"></predicate-view>
    </accordion-group>
  </accordion>
</div>
