<div class="modal-header modal-header-confirm">
  <h4 class="modal-title ng-binding">
    <span translate>Hae ominaisuuksia</span>
    <a type="button" title="Close" data-dismiss="modal"><i ng-click="ctrl.close()" class="glyphicon glyphicon-remove icon-arrow-right pull-right"></i></a>
  </h4>
</div>

<div class="modal-body add-property">
  <p>
    Haen ensin tarvitsemaasi tietokomponenttia yhtenetoimivuuden kuvauksista. Jos et löydä tarpeisiisi sopivaa, voit luoda uuden tietokomponentin.
  </p>

  <div class="row">

    <div class="col-md-4">
      <div class="input-group input-group-lg">
        <input autofocus type="text" class="form-control" placeholder="Hae ominaisuutta..."
               ng-model="ctrl.searchText"
               ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }" />
        <i class="glyphicon glyphicon-search form-control-feedback"></i>
      </div>

      <div class="input-group input-group-lg">
        <div class="selectContainer">
          <select class="form-control" ng-model="ctrl.modelId">
            <option value="" translate>Kaikki kirjastot</option>
            <option ng-repeat="model in ctrl.models" value="{{model['@id']}}">{{model | translateLabel}}</option>
          </select>
        </div>
      </div>

      <div class="input-group input-group-lg">
        <div class="selectContainer">
          <select class="form-control" ng-model="ctrl.type">
            <option value="" translate>Kaikki tyypit</option>
            <option ng-repeat="type in ctrl.types" value="{{type}}">{{type | translate}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4 search-results">
      <div ng-repeat="predicate in ctrl.searchResults() track by predicate['@id']">
          <div ng-class="['search-result', {selected: ctrl.isSelected(predicate)}]" ng-click="ctrl.selectPredicate(predicate)">
            <i ng-class="ctrl.iconClass(predicate)"></i>
            <h5>{{predicate | translateLabel}}</h5>
            <p>{{predicate.comment | translateValue}}</p>
            <p>{{predicate.isDefinedBy | translateLabel}}</p>
          </div>
      </div>
    </div>

    <div class="col-md-4">
      <predicate-view ng-if="ctrl.selectedPredicate" predicate="ctrl.selectedPredicate"></predicate-view>
    </div>

  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.close()" translate>Peruuta</button>
  <button type="button" class="btn btn-default btn-lg" ng-click="ctrl.confirm()" ng-disabled="!ctrl.selectedPredicate" translate>{{ctrl.confirmButtonText}}</button>
</div>
