<ol class="breadcrumb">
  <li ng-repeat="path in ctrl.location" ng-class="{active: $last}">
    <i ng-class="path.glyphIconClass"></i>
    <a ng-if="path.iowUrl && !$last" ng-href="{{'#' + path.iowUrl()}}">
      <span ng-if="!path.label">{{path.localizationKey | translate}}</span>
      <span ng-if="path.label">{{path | translateLabel}}</span>
    </a>
    <span ng-if="!path.iowUrl || $last">
      <span ng-if="!path.label">{{path.localizationKey | translate}}</span>
      <span ng-if="path.label">{{path | translateLabel}}</span>
    </span>
  </li>
</ol>
