<nav class="navbar navbar-default">
  <div class="navbar-header">
    <div><a class="" ng-href="#/"><img id="logo-image" ng-src="{{ctrl.logoImage}}" /></a></div><div><span>{{'IOW' | translate}}</span></div>
  </div>

  <ul class="nav navbar-nav navbar-right">
    <li ng-repeat="language in ctrl.languages">
      <a ng-click="ctrl.language = language.code">{{language.name}}</a>
    </li>
    <li ng-if="!ctrl.getUser().isLoggedIn()">
      <a id="login" ng-click="ctrl.openLogin()" translate>Login</a>
    </li>
    <li ng-if="ctrl.getUser().isLoggedIn()">
      <div class="btn-group navbar-btn" uib-dropdown is-open="status.isopen">
        <button class="btn btn-default navbar-btn" uib-dropdown-toggle>{{ctrl.getUser().name}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li role="menuitem"><a ng-href="#/user" translate>User details</a></li>
          <li role="menuitem"><a id="logout" ng-click="ctrl.logout()" translate>Logout</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
