.model-panel--left {
  width: 260px;
  float: left;
}

.model-panel--right {
  overflow: hidden;
}

.model-panel__selection {
  background-color: $list-group-hover-bg;
  border-style: solid none solid solid;
  border-width: 1px;
  border-color: $pre-border-color;
}

accordion .panel-group {
  width: 80%;
  margin: 20px auto;
}
