<h2>
  {{model.label[language]}}
</h2>
<p>
  {{model.comment[language]}}
</p>

<div class="model-panel--left">
  <tabset>
    <tab heading="{{'Classes' | translate}}">
      <ul class="panel__list">
        <li ng-repeat="class in classes" ng-class="activeClass == $index ? 'model-panel__selection' : ''" ng-click="activateClass(class, $index)">{{class.label[language]}}</li>
      </ul>
    </tab>
    <tab heading="{{'Attributes' | translate}}">
      <h3>Attributes</h3>
      <ul class="panel__list">
        <li ng-repeat="attribute in model.attributes" ng-class="activeAttribute == $index ? 'model-panel__selection' : ''" ng-click="activateAttribute(attribute, $index)">{{attribute.label[language]}}</li>
      </ul>
      <h3>Associations</h3>
      <ul class="panel__list">
        <li ng-repeat="association in model.associations" ng-class="activeAssociation == $index ? 'model-panel__selection' : ''" ng-click="activateAssociation(association, $index)">{{association.label[language]}}</li>
      </ul>
    </tab>
  </tabset>
</div>
<div class="model-panel--right">
  <class-view class-id="class['@id']" ng-if="class"></class-view>
  <attribute-view attribute="attribute" ng-if="attribute"></attribute-view>
  <association-view association="association" ng-if="association"></association-view>
</div>
