<div class="modal-header modal-header-confirm">
  <h4 class="modal-title ng-binding">
    <span translate>Confirm delete</span>
    <a type="button" title="Close" data-dismiss="modal"><i ng-click="ctrl.cancel()" class="glyphicon glyphicon-remove icon-arrow-right pull-right"></i></a>
  </h4>
</div>

<div class="modal-body">
  <p translate>Are you sure that you want to delete?</p>
</div>

<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="ctrl.ok()" translate>Yes</button>
  <button class="btn btn-primary" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
</div>
