<h2>
  {{class.label.fi}}
</h2>
<accordion close-others="false">
  <accordion-group ng-repeat="property in class.property" is-open="isOpen[property['@id']]" ng-click="isOpen[property['@id']] = !isOpen[property['@id']]">
    <accordion-heading>{{property.label.fi}} <span class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': isOpen[property['@id']], 'glyphicon-chevron-right': !isOpen[property['@id']]}"></span></accordion-heading>
    <div ng-click="$event.stopPropagation()"><!-- prevent click anywhere to toggle visibility -->
      <p>
        {{property.comment.fi}}
      </p>
      <pre>
{{property | json}}
      </pre>
    </div>
  </accordion-group>
</accordion>
