<modal-template>
  <modal-title translate>Advanced search</modal-title>

  <modal-body>
    <div class="row">
      <div class="col-md-6">
        <div class="input-group input-group-lg">
          <input autofocus type="text" class="form-control" placeholder="{{'search descriptions' | translate}}"
                 ng-model="ctrl.searchText"
                 ng-model-options="{ debounce: { 'default': 500, 'blur': 0 } }"
                 key-control="ctrl.searchResults" />
          <i class="glyphicon glyphicon-search form-control-feedback"></i>
        </div>

        <div class="checkbox" ng-repeat="type in ctrl.types">
          <label><input class="" type="checkbox" checklist-model="ctrl.searchTypes" checklist-value="type" /> {{type | translate}}</label>
        </div>
      </div>

      <div class="col-md-6 search-results">
        <div ng-show="ctrl.searchText && ctrl.searchResults.length === 0" translate>No search results</div>
        <div ng-repeat="searchResult in ctrl.searchResults track by searchResult.id"
             class="search-result" ng-click="ctrl.selectSearchResult(searchResult)" key-control-selection>
          <div><i ng-class="searchResult.glyphIconClass"></i><h5>{{searchResult | translateLabel}}</h5></div>
          <p>{{searchResult.comment | translateValue}}</p>
        </div>
      </div>
    </div>
  </modal-body>

  <modal-buttons>
    <button type="button" class="btn btn-default cancel" ng-click="ctrl.close()" translate>Cancel</button>
  </modal-buttons>
</modal-template>
