<modal-template>
  <modal-title translate>Advanced search</modal-title>

  <modal-body class="full-height">
    <div class="row">
      <div class="col-md-6">

        <model-language-chooser context="ctrl.context"></model-language-chooser>

        <text-filter search-text="ctrl.searchText" search-controller="ctrl" content-extractors="ctrl.contentExtractors" placeholder="'search descriptions'"></text-filter>

        <div class="search-panel">
          <span class="title" translate>Filter results</span>

          <types-filter search-controller="ctrl"></types-filter>
        </div>
      </div>

      <div class="col-md-6 search-results">
        <div ng-show="ctrl.searchText && ctrl.searchResults.length === 0" translate>No search results</div>
        <div ng-repeat="searchResult in ctrl.searchResults track by searchResult.id"
             class="search-result" ng-click="ctrl.selectSearchResult(searchResult)" key-control-selection>
          <div><i ng-class="searchResult.glyphIconClass"></i><h5><highlight text="searchResult.label" context="ctrl.context" search="ctrl.searchText"></highlight></h5></div>
          <p><highlight text="searchResult.comment" context="ctrl.context" search="ctrl.searchText"></highlight></p>
          <div class="origin">
            <span class="pull-left">{{searchResult.definedBy | translateLabel: ctrl.context}}</span>
            <span class="pull-right" ng-bind-html="searchResult.id.compact | highlight: ctrl.searchText"></span>
          </div>
        </div>
      </div>
    </div>
  </modal-body>

  <modal-buttons>
    <button type="button" class="btn btn-default cancel" ng-click="ctrl.close()" translate>Cancel</button>
  </modal-buttons>
</modal-template>
