<div class="modal-header modal-header-confirm">
  <h4 class="modal-title ng-binding">
    <a type="button" title="Close" data-dismiss="modal"><i ng-click="$dismiss('cancel')" class="fa fa-times icon-arrow-right pull-right"></i></a>
    <div ng-transclude="title"></div>
  </h4>
</div>

<div class="modal-body">
  <div ng-transclude="body"></div>
</div>

<div class="modal-footer">
  <div ng-transclude="buttons"></div>
  <div ng-if="defaultButtons">
    <button class="btn btn-default" type="button" ng-click="$close()" translate>Yes</button>
    <button class="btn btn-primary" type="button" ng-click="$dismiss('cancel')" translate>Cancel</button>
  </div>
</div>
