<div ng-repeat="searchResult in ctrl.searchResults track by ctrl.trackingFn(searchResult)"
     ng-class="['search-result', {selected: ctrl.isSelected(searchResult), disabled: searchResult.disabled, 'add-new': searchResult.isAddNew()}]"
     title="{{ctrl.title(searchResult)}}"
     ng-click="ctrl.selectItem(searchResult)"
     ng-show="!searchResult.isAddNew() || searchResult.show()"
     key-control-selection>

  <div ng-show="searchResult.isAddNew()">
    <i ng-show="searchResult.glyphiconClass" ng-class="searchResult.glyphiconClass"></i>
    <i class="glyphicon glyphicon-plus pull-left"></i>
    <h5 style="margin-left: 23px">{{searchResult.label}}</h5>
  </div>

  <search-result-transclude ng-hide="searchResult.isAddNew()"></search-result-transclude>
</div>
