/* app css stylesheet */

@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import './vendor/_bootswatch';
@import './vendor/_variables';
@import './vendor/angular-xeditable-0.1.8/css/xeditable';

.group-panel {
  width: 50%;
}

.list-panel {
  padding: 0;
}

.group-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.group-list-item {
  padding: 7px 15px 7px 15px;
}

.group-list-item:hover {
  background-color: $list-group-hover-bg;
}
