<form name="addModelForm">
<modal-template>
  <modal-title>{{'Add ' + ctrl.type | translate}}</modal-title>

  <modal-body>
    <editable data-title="Prefix">
      <div class="input-group input-group-md">
        <input id="prefix" type="text" class="form-control" autofocus required prefix-input ng-model="ctrl.prefix" />
      </div>
    </editable>

    <editable-multiple-language-select title="Model languages" id="modelLanguage" ng-model="ctrl.language" required="true"></editable-multiple-language-select>

    <editable data-title="{{ctrl.type + ' label' | capitalize}}">
      <div class="input-group input-group-md">
        <input id="name" type="text" class="form-control" required string-input="modelLabel" ng-model="ctrl.label" />
      </div>
    </editable>
  </modal-body>

  <modal-buttons>
    <submit-error-panel error="ctrl.submitError"></submit-error-panel>

    <button class="btn btn-default" type="button" ng-click="ctrl.cancel()" translate>Cancel</button>
    <button class="btn btn-default" type="button" ng-click="ctrl.create()" ng-disabled="!addModelForm.$valid" translate>Create new</button>
  </modal-buttons>
</modal-template>
</form>
